<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
		
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap" rel="stylesheet" />

		<title>Centro Educacional London</title>
	</head>
	<body>
		<noscript>
			<strong>
				Lo sentimos, la plantilla del panel de administración de Vuejs no funciona correctamente sin JavaScript habilitado. Por favor, activelo para continuar.
			</strong>
		</noscript>
		
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
