<template>
	<div class="auth-wrapper auth-v1 px-2">
		<div class="auth-inner py-2">
			<!-- Forgot Password v1 -->
			<b-card class="mb-0">
				<b-link class="brand-logo">
					<!-- logo -->
					<logo />
				</b-link>
				<b-card-title class="mb-1">
					Olvido su Contraseña?
				</b-card-title>
				<b-card-text class="mb-2">
					Ingrese su correo electrónico y le enviaremos instrucciones para restablecer su contraseña
				</b-card-text>
				<!-- form -->
				<validation-observer ref="forgotForm">
					<b-form class="auth-forgot-password-form mt-2" @submit.prevent="validationForm">
						<!-- email -->
						<b-form-group label="Email" label-for="forgot-password-email">
							<validation-provider #default="{ errors }" name="email" rules="required|email">
								<b-form-input
									id="forgot-password-email"
									v-model="forgotPasswordForm.email"
									:state="errors.length > 0 ? false:null"
									name="forgot-password-email"
									placeholder="john@example.com"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
						<!-- submit button -->
						<b-button variant="primary" block type="submit" :disabled="isDisabled">						
							Enviar Enlace de Restablecimiento
						</b-button>
					</b-form>
				</validation-observer>
				<b-card-text class="text-center mt-2">
					<b-link :to="{name:'auth.login'}">
						<feather-icon icon="ChevronLeftIcon" />&nbsp;Regresar al Login
					</b-link>
				</b-card-text>
			</b-card>
		<!-- /Forgot Password v1 -->
		</div>
	</div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import Logo from '@core/layouts/components/Logo.vue'
import { BCard, BLink, BCardText, BCardTitle, BFormGroup, BFormInput, BForm, BButton } from 'bootstrap-vue'
import { required, email } from '@validations'
import useJwt from '@/auth/jwt/useJwt'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
	components: {
		Logo,
		BCard,
		BLink,
		BCardText,
		BCardTitle,
		BFormGroup,
		BFormInput,
		BButton,
		BForm,
		ValidationProvider,
		ValidationObserver,
	},
	data() {
		return {
			isDisabled: false,
			forgotPasswordForm: {
				email: ''
			},
			// validation
			required,
			email,
		}
	},
	methods: {
		validationForm() {
			this.$refs.forgotForm.validate().then(success => {
				if (success) {
					this.isDisabled = true

					useJwt.forgotPassword(this.forgotPasswordForm).then(response => {					
						this.$toast({
							component: ToastificationContent,
							position: 'top-right',
							props: {
								title: response.data.message,
								icon: 'CoffeeIcon',
								variant: 'success'								
							},
						})
						this.isDisabled = false
					}).catch(error => {
						if(error.response) {
							let message = ''

							if(error.response.status === 400) {
								message = error.response.data.email
							} else {						
								message = error.response.data.message
							}

							this.$toast({
								component: ToastificationContent,
								position: 'top-right',
								props: {
									title: message,
									icon: 'AlertTriangleIcon',
									variant: 'danger'
								},
							})
						}

						this.isDisabled = false
					})
				}
			})
		},
	},
}
</script>

<style lang="scss">
	@import '@core/scss/vue/pages/page-auth.scss';
</style>
