<template>
  	<div class="auth-wrapper auth-v1 px-2">
		<div class="auth-inner py-2">

		<!-- Login v1 -->
		<b-card class="mb-0">			
			<b-link href="/" class="brand-logo">
				<logo />
			</b-link>
			<b-card-title class="mb-1 text-center">
          		Centro Educacional London
        	</b-card-title>
			<b-card-text class="mb-2">				
				Inicie sesión en su cuenta para poder continuar.
			</b-card-text>
			<!-- form -->
			<validation-observer ref="loginForm" #default="{invalid}">
				<b-form class="auth-login-form mt-2" @submit.prevent="login">
					<!-- email -->
					<b-form-group label-for="email" label="Email">
						<validation-provider #default="{ errors }" name="Email" rules="required|email">
							<b-form-input
								id="email"
								v-model="userEmail"
								name="login-email"
								:state="errors.length > 0 ? false:null"
								placeholder="john@example.com"
								autofocus
								tabindex="1"
							/>
							<small class="text-danger">{{ errors[0] }}</small>
						</validation-provider>
					</b-form-group>
					<!-- password -->
					<b-form-group>
						<div class="d-flex justify-content-between">
							<label for="password">Password</label>
							<b-link :to="{name:'auth.forgot-password'}">
								<small>Olvidó su contraseña?</small>
							</b-link>
						</div>
						<validation-provider #default="{ errors }" name="Password" rules="required">
							<b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid':null">
								<b-form-input
									id="password"
									v-model="password"
									:type="passwordFieldType"
									class="form-control-merge"
									:state="errors.length > 0 ? false:null"
									name="login-password"
									placeholder="Password"
									tabindex="2"
								/>
								<b-input-group-append is-text>
									<feather-icon
									class="cursor-pointer"
									:icon="passwordToggleIcon"
									@click="togglePasswordVisibility"
									/>
								</b-input-group-append>
							</b-input-group>
							<small class="text-danger">{{ errors[0] }}</small>
						</validation-provider>
					</b-form-group>
					<!-- checkbox -->
					<b-form-group>
						<b-form-checkbox id="remember-me" v-model="status" name="checkbox-1">
							Recuerdame
						</b-form-checkbox>
					</b-form-group>

					<!-- submit button -->
					<b-button variant="primary" type="submit" block :disabled="invalid">
						Acceder
					</b-button>
				</b-form>
			</validation-observer>

			<b-card-text class="text-center mt-2">
				<span>Deseas regresar a la página principal? </span>
				<b-link href="/">
					<span>Regresar</span>
				</b-link>
			</b-card-text>
		</b-card>
		<!-- /Login v1 -->
		</div>
	</div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BButton, BForm, BFormInput, BFormGroup, BCard, BLink, BCardTitle, BCardText, BInputGroup, BInputGroupAppend, BFormCheckbox } from 'bootstrap-vue'
import Logo from '@core/layouts/components/Logo.vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import useJwt from '@/auth/jwt/useJwt'
import { getHomeRouteForLoggedInUser } from '@/auth/utils'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  	components: {
		// BSV
		BButton,
		BForm,
		BFormInput,
		BFormGroup,
		BCard,
		BCardTitle,
		BLink,
		Logo,
		BCardText,
		BInputGroup,
		BInputGroupAppend,
		BFormCheckbox,
		ValidationProvider,
		ValidationObserver,
  	},
  	mixins: [togglePasswordVisibility],
  	data() {
		return {
	  		userEmail: '',
	  		password: '',
	  		status: '',
	  		// validation rules
	  		required,
	  		email,
		}
  	},
  	computed: {
		passwordToggleIcon() {
			return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
	},
	methods: {
    	login() {
      		this.$refs.loginForm.validate().then(success => {
				if (success) {
					useJwt.login({
						email: this.userEmail,
						password: this.password,
					}).then(response => {
						const userData = response.data.user_data

						useJwt.setToken(response.data.access_token)
						useJwt.setRefreshToken(response.data.access_token)
						localStorage.setItem('expiren_in', JSON.stringify(Date.now() + (response.data.expires_in * 1000)))
						localStorage.setItem('userData', JSON.stringify(userData))
						
						this.$store.dispatch('menu/load', userData).then(() => {
							this.$router.replace(getHomeRouteForLoggedInUser(userData.role)).then(() => {
								this.$toast({
									component: ToastificationContent,
									position: 'top-right',
									props: {
										title: `Bienvenido ${userData.name}`,
										icon: 'CoffeeIcon',
										variant: 'success',
										text: `Ha iniciado sesión correctamente como ${userData.role}. ¡Ahora puedes empezar a explorar!`,
									},
								})
							})
							.catch(error => {
								this.$refs.loginForm.setErrors(error.response.data.error)
							})
						})										
					})
				}
			})
  		}
	}
}
</script>

<style lang="scss">
	@import '@core/scss/vue/pages/page-auth.scss';
</style>
