<template>
	<div class="auth-wrapper auth-v1 px-2">
		<div class="auth-inner py-2">
			<!-- Reset Password v1 -->
			<b-card class="mb-0">
				<!-- logo -->
				<b-link class="brand-logo">
					<logo />
				</b-link>
				<b-card-title class="mb-1">
					Restablecer la contraseña
				</b-card-title>
				<b-card-text class="mb-2">
					Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente
				</b-card-text>

				<!-- form -->
				<validation-observer ref="resetForm">
					<b-form method="POST" class="auth-reset-password-form mt-2" @submit.prevent="validationForm">
						<!-- email -->
						<b-form-group label-for="email" label="Email">
							<validation-provider #default="{ errors }" name="email" rules="required|email">
								<b-form-input
									id="email"
									v-model="resetPasswordForm.email"
									name="login-email"
									:state="errors.length > 0 ? false:null"
									placeholder="john@example.com"
									autofocus
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
						<!-- password -->
						<b-form-group label="Nueva Contraseña" label-for="reset-password-new">
							<validation-provider #default="{ errors }" name="contraseña" vid="Password" rules="required|min:6">
								<b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid':null">
									<b-form-input
										id="reset-password-new"
										v-model="resetPasswordForm.password"
										:type="password1FieldType"
										:state="errors.length > 0 ? false:null"
										class="form-control-merge"
										name="reset-password-new"
										placeholder="············"
									/>
									<b-input-group-append is-text>
										<feather-icon class="cursor-pointer" :icon="password1ToggleIcon" @click="togglePassword1Visibility" />
									</b-input-group-append>
								</b-input-group>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
						<!-- confirm password -->
						<b-form-group label-for="reset-password-confirm" label="Confirmar Nueva Contraseña">
							<validation-provider #default="{ errors }" name="confirmar contraseña" rules="required|min:6|confirmed:Password">
								<b-input-group class="input-group-merge" :class="errors.length > 0 ? 'is-invalid':null">
									<b-form-input
										id="reset-password-confirm"
										v-model="resetPasswordForm.password_confirmation"
										:type="password2FieldType"
										class="form-control-merge"
										:state="errors.length > 0 ? false:null"
										name="reset-password-confirm"
										placeholder="············"
									/>
									<b-input-group-append is-text>
										<feather-icon
											class="cursor-pointer"
											:icon="password2ToggleIcon"
											@click="togglePassword2Visibility"
										/>
									</b-input-group-append>
								</b-input-group>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
						<!-- submit button -->
						<b-button block type="submit" variant="primary" :disabled="isDisabled">
							Establecer nueva contraseña
						</b-button>
					</b-form>
				</validation-observer>

				<p class="text-center mt-2">
					<b-link :to="{name:'auth.login'}">
						<feather-icon icon="ChevronLeftIcon" /> Regresar al Login
					</b-link>
				</p>
			</b-card>
		<!-- /Reset Password v1 -->
		</div>
	</div>

</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import Logo from '@core/layouts/components/Logo.vue'
import { BCard, BCardTitle, BCardText, BForm, BFormGroup, BInputGroup, BInputGroupAppend, BLink, BFormInput, BButton } from 'bootstrap-vue'
import { required, email } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import useJwt from '@/auth/jwt/useJwt'

export default {
	components: {
		Logo,
		BCard,
		BButton,
		BCardTitle,
		BCardText,
		BForm,
		BFormGroup,
		BInputGroup,
		BLink,
		BFormInput,
		BInputGroupAppend,
		ValidationProvider,
		ValidationObserver,
	},
	data() {
		return {
			isDisabled: false,
			resetPasswordForm: {
				token: '',
				email: '',
				password: '',
				password_confirmation: ''
			},

			// validation
			required,
			email,

			// Toggle Password
			password1FieldType: 'password',
			password2FieldType: 'password',
		}
	},
	created() {
		if(this.$route.params.token === undefined) {
			this.$router.push({ name: 'auth.login' })
		}

		//Set as reset password token
		this.resetPasswordForm.token = this.$route.params.token
	},
	computed: {
		password1ToggleIcon() {
			return this.password1FieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
		password2ToggleIcon() {
			return this.password2FieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
	},
	methods: {
		togglePassword1Visibility() {
			this.password1FieldType = this.password1FieldType === 'password' ? 'text' : 'password'
		},
		togglePassword2Visibility() {
			this.password2FieldType = this.password2FieldType === 'password' ? 'text' : 'password'
		},
		validationForm() {
			this.$refs.resetForm.validate().then(success => {
				if (success) {
					this.isDisabled = true

					useJwt.resetPassword(this.resetPasswordForm).then(response => {		
						this.isDisabled = false

						// ? This is just for demo purpose. Don't think CASL is role based in this case, we used role in if condition just for ease
						this.$router.replace({ name: 'auth.login' }).then(() => {
							this.$toast({
								component: ToastificationContent,
								position: 'top-right',
								props: {
									title: response.data.message,
									icon: 'CoffeeIcon',
									variant: 'success'
								},
							})
						})
					}).catch(error => {
						if(error.response) {
							let message = ''

							if(error.response.status === 400) {
								message = error.response.data.email
							} else {						
								message = error.response.data.message
							}

							this.$toast({
								component: ToastificationContent,
								position: 'top-right',
								props: {
									title: message,
									icon: 'AlertTriangleIcon',
									variant: 'danger'
								},
							})
						}

						this.isDisabled = false
					})
				}
			})
		},
	},
}
</script>

<style lang="scss">
	@import '@core/scss/vue/pages/page-auth.scss';
</style>
