<template>
	<b-card-code>
		<validation-observer ref="editUser">
			<b-form @submit.prevent="validationForm">
				<b-row>
					<b-col md="4">
						<b-form-group label="Nombre">
							<validation-provider
								#default="{ errors }"
								name="nombre"
							>
								<b-form-input
									v-model="editUserForm.name"
									:state="errors.length > 0 ? false:null"
									placeholder="Tu Nombre"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Email">
							<validation-provider
								#default="{ errors }"
								name="email"
								:rules="`required|email|emailUserExists:${userId}`"
							>
								<b-form-input
									v-model="editUserForm.email"
									:state="errors.length > 0 ? false:null"
									type="email"
									placeholder="Tu Email"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Teléfono">
							<validation-provider
								#default="{ errors }"
								name="telefono"
							>
								<b-form-input
									v-model="editUserForm.phone"
									:state="errors.length > 0 ? false:null"
									placeholder="Tu Teléfono"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col md="4">
						<b-form-group label="Role">
							<validation-provider
								#default="{ errors }"
								name="rol"
								rules="required"
							>
								<b-form-select
								    v-model="editUserForm.role"
									@change="validateRoleSelected()"
    							>
									<b-form-select-option value="" selected>Seleccione un Rol</b-form-select-option>
									<template v-for="(role, index) in roles">										
										<b-form-select-option :value="role.name" :key="index">{{ role.display_name }}</b-form-select-option>
									</template>									
								</b-form-select>

								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Contraseña">
							<validation-provider
								#default="{ errors }"
								name="contraseña"
								vid="Password"
								rules="min:6"
							>
								<b-form-input
									v-model="editUserForm.password"
									type="password"
									:state="errors.length > 0 ? false:null"
									placeholder="Tu Contraseña"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Confirmar Contraseña">
							<validation-provider
								#default="{ errors }"
								name="confirmar contraseña"
								rules="min:6|confirmed:Password"
							>
								<b-form-input
									v-model="editUserForm.password_confirmation"
									:state="errors.length > 0 ? false:null"
									type="password"
									placeholder="Confirma Tu Contraseña"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row v-if="showModeratorsFields" class="mt-1">
					<b-col md="6">
						<b-row class="mb-1">
							<b-col cols="12">
								<b-form-group label="Categorias a Moderar">
									<validation-provider
										#default="{ errors }"
										name="categories"
										:rules="rulesCategoriesUsers"
									>
										<v-select
											v-model="editUserForm.categories"
											label="nombre"
											:options="categories"
											:reduce="category => category.id"
											placeholder="Seleccione al menos una categoría"
											multiple
										/>
										<small class="text-danger">{{ errors[0] }}</small>
									</validation-provider>
								</b-form-group>
							</b-col>
							<b-col cols="12">
								<b-button
									size="sm float-right"
									variant="info"
									@click="clickSelectAllCategories()"
								>
									Seleccionar Todas
								</b-button>
							</b-col>
						</b-row>
					</b-col>
					<b-col md="3" class="mt-md-3">
                        <b-form-group>
                            <validation-provider
                                #default="{ errors }"
                                name="Acceso a sección Banners"
                                rules=""
                            >
                                <b-form-checkbox
                                    v-model="editUserForm.can_access_banners"
                                >
                                    Acceso a sección Banners
                                </b-form-checkbox>
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
					<b-col md="3" class="mt-md-3">
                        <b-form-group>
                            <validation-provider
                                #default="{ errors }"
                                name="Acceso a sección Galería"
                                rules=""
                            >
                                <b-form-checkbox
                                    v-model="editUserForm.can_access_gallery"
                                >
                                    Acceso a sección Galería
                                </b-form-checkbox>
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
				</b-row>
				<b-row>
					<!-- submit button -->
					<b-col>
						<b-button
							variant="primary"
							type="submit"
							class="mt-1 float-right"
							@click.prevent="validationForm"
						>
							Guardar
						</b-button>
					</b-col>
				</b-row>
			</b-form>
		</validation-observer>
	</b-card-code>
</template>

<script>

import '@core/scss/vue/libs/vue-select.scss'

import BCardCode from '@core/components/b-card-code'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BFormInput, BFormGroup, BForm, BRow, BCol, BButton, BFormSelect, BFormSelectOption, BFormCheckbox } from 'bootstrap-vue'
import { required, email, confirmed, password, emailUserExists } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import vSelect from 'vue-select'

/** Mixins */
import loader from '@core/mixins/loader'

export default {
  	components: {		
		ValidationProvider,
		ValidationObserver,
		BCardCode,
		BFormInput,
		BFormGroup,
		BFormSelect,
		BFormSelectOption,
		BForm,
		BRow,
		BCol,
		BButton,
		BFormCheckbox,
		vSelect,
	},
	mixins: [loader],
	data() {
		return {
			showModeratorsFields: false,
			rulesCategoriesUsers: '',
			editUserForm: {
				name: '',
				email: '',
				phone: '',
				role: '',
				password: '',
				password_confirmation: '',
				can_access_banners: 0,
				can_access_gallery: 0,
				categories: [],
			},
			userId: null,
			//List
			roles: [],
			categories: [],
			//Form
			required,
			password,
			email,
			confirmed,
			emailUserExists
		}
	},
	methods: {
		getRoles() {
			this.$http.get(route('api.customs.roles.all'))
				.then(response => {
					this.roles = response.data
				}).catch(error => {
					console.log(error)
				})
		},
		getCategories() {
			this.$http.get(route('api.customs.categories.all'))
			.then(response => {
				this.categories = response.data
			}).catch(error => {
				console.log(error)
			})
		},
		clickSelectAllCategories() {
			this.editUserForm.categories = [];

			this.categories.map((category) => {
				this.editUserForm.categories.push(category.id)
			})
		},
		getUser() {
			this.$http.get(route('api.users.show', this.userId))
				.then(response => {
					if(response.data !== undefined) {
						this.fillUpdateUserForm(response.data)
					}
				}).catch(error => {
					console.log(error)
				})
		},
		fillUpdateUserForm(user) {
			this.editUserForm = {
				name: user.name,
				email: user.email,
				phone: user.phone,
				role: user.roles[0].name,
				can_access_banners: (user.can_access_banners) ? true : 0,
				can_access_gallery: (user.can_access_gallery) ? true : 0,
				categories: []
			}

			//Call function validate role selected
			this.validateRoleSelected()

			if(user.categories.length > 0) {
				user.categories.map((category) => {
					this.editUserForm.categories.push(category.id)
				})
			}
		},
		validateRoleSelected() {
			if(this.editUserForm.role === 'moderador') {
				this.showModeratorsFields = true;
				this.rulesCategoriesUsers = 'required'
			} else {
				this.showModeratorsFields = false
				this.rulesCategoriesUsers = ''
			}
		},
		validationForm() {
			this.$refs.editUser.validate().then(success => {
				if (success) {
					this.openLoader()

					this.$http.post(route('api.users.update', this.userId), this.editUserForm)
					.then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})
						
							this.$router.push({ name: 'users.index' })					
						} else {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error)
						this.closeLoader()
					})
				}
			})
		},
	},
	created() {
		this.userId = this.$route.params.id

		//Get Roles
		this.getRoles()
		//Get Categories
		this.getCategories()
		//Get User To Edit
		this.getUser()
	}
}
</script>