<template>
	<b-card-code>
		<validation-observer ref="createBanner">
			<b-form @submit.prevent="validationForm">
				<b-row class="mb-1">
                    <b-col md="5">
                        <b-row>
                            <b-col sm="12">
                                <b-form-group label="Banner">
                                    <validation-provider
                                        #default="{ errors }"
                                        name="archivo"
                                        rules="required"
                                    >
                                        <!-- Styled -->
                                        <b-form-file
                                            v-model="createBannerForm.file"
                                            ref="fileBanner"
                                            placeholder="Elija un archivo o suéltelo aquí ..."
                                            drop-placeholder="Suelta el archivo aquí ..."
                                            v-on:change="onFileChange"
                                            accept="image/x-png,image/gif,image/jpeg,video/mp4,video/ogg"
                                        />
                                        <small class="text-danger">{{ errors[0] }}</small>
                                    </validation-provider>
						        </b-form-group>
                            </b-col>
                            <b-col sm="12" class="mt-2">
                                <b-img v-if="showBannerImage" :src="urlImgBanner" fluid alt="Banner image" @click="clickImageBannerFile()" />
                                <b-embed v-if="showBannerEmbedVideo" type="iframe" class="mt-2" aspect="16by9" :src="urlVideoBanner" allowfullscreen/>
                            </b-col>
                        </b-row>                        
                    </b-col>
                    <b-col md="5" class="offset-md-2">
                        <b-row>
                            <b-col sm="12">
                                <b-form-group label="Banner Mobile">
                                    <validation-provider
                                        #default="{ errors }"
                                        name="archivo"
                                        rules="required"
                                    >
                                        <!-- Styled -->
                                        <b-form-file
                                            v-model="createBannerForm.file_mobile"
                                            ref="fileBannerMobile"
                                            placeholder="Elija un archivo o suéltelo aquí ..."
                                            drop-placeholder="Suelta el archivo aquí ..."
                                            v-on:change="onFileChangeMobile"
                                            accept="image/x-png,image/gif,image/jpeg,video/mp4,video/ogg"
                                        />
                                        <small class="text-danger">{{ errors[0] }}</small>
                                    </validation-provider>
						        </b-form-group>
                            </b-col>
                            <b-col sm="12" class="mt-2">
                                <b-img v-if="showBannerImageMobile" :src="urlImgBannerMobile" fluid alt="Banner image" @click="clickImageBannerFileMobile()" />
                                <b-embed v-if="showBannerEmbedVideoMobile" type="iframe" class="mt-2" aspect="16by9" :src="urlVideoBannerMobile" allowfullscreen/>
                            </b-col>
                        </b-row>
                    </b-col>
				</b-row>
                <b-row class="mb-1">
                    <b-col md="6">
                        <b-form-group label="Título Principal">
                            <validation-provider
                                #default="{ errors }"
                                name="titulo_principal"
                                rules=""
                            >
                                <b-form-input
                                    v-model="createBannerForm.titulo_principal"
                                    :state="errors.length > 0 ? false:null"
                                    placeholder="Encabezado principal ..."
                                />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label="Título Secundario">
                            <validation-provider
                                #default="{ errors }"
                                name="titulo_secundario"
                                rules=""
                            >
                                <b-form-input
                                    v-model="createBannerForm.titulo_secundario"
                                    :state="errors.length > 0 ? false:null"
                                    placeholder="Encabezado secundario ..."
                                />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row class="mb-1">
                    <b-col md="4">
                        <b-form-group>
                            <validation-provider
                                #default="{ errors }"
                                name="link_redirect_activo"
                                rules=""
                            >
                                <b-form-checkbox
                                    v-model="createBannerForm.link_redirect_activo"
                                >
                                    Activar Botón (Ver Más)
                                </b-form-checkbox>
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
                    <b-col md="8">
                        <b-form-group label="URL Botón (Ver Más)">
                            <validation-provider
                                #default="{ errors }"
                                name="url_link_redirect"
                                rules="url"
                            >
                                <b-form-input
                                    type="url"
                                    v-model="createBannerForm.url_link_redirect"
                                    :state="errors.length > 0 ? false:null"
                                    placeholder="https://google.c..."
                                />
                                <small class="text-danger">{{ errors[0] }}</small>
                            </validation-provider>
                        </b-form-group>
                    </b-col>
                </b-row>
				<b-row>
					<!-- submit button -->
					<b-col>
						<b-button
							variant="primary"
							type="submit"
							class="mt-1 float-right"
							@click.prevent="validationForm"
						>
							Guardar
						</b-button>
					</b-col>
				</b-row>
			</b-form>
		</validation-observer>
	</b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BFormInput, BFormGroup, BForm, BRow, BCol, BButton, BFormFile, BImg, BEmbed, BFormCheckbox } from 'bootstrap-vue'
import { required, email, url } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
/**	Mixins */
import custom from '@core/mixins/custom'
import loader from '@core/mixins/loader'

export default {
  	components: {		
		ValidationProvider,
		ValidationObserver,
		BCardCode,
		BFormInput,
		BFormGroup,
		BForm,
		BRow,
		BCol,
		BButton,
		BFormFile,
        BImg,
        BEmbed,
        BFormCheckbox
	},
    mixins: [custom, loader],
	data() {
		return {
			createBannerForm: { 
				titulo_principal: '',
				titulo_secundario: '',
                link_redirect_activo: false,
                url_link_redirect: '',
				file: null,
                file_mobile: null,
			},

            urlImgBanner: require('@/assets/images/elements/default-banner.jpg'),
            urlVideoBanner: '',
            showBannerImage: true,
            showBannerEmbedVideo: false,

            urlImgBannerMobile: require('@/assets/images/elements/default-banner.jpg'),
            urlVideoBannerMobile: '',
            showBannerImageMobile: true,
            showBannerEmbedVideoMobile: false,

			//Form
			required,
			email,
            url
		}
	},
	methods: {
        clickImageBannerFile() {
            this.$refs.fileBanner.$refs.input.click()
        },
        clickImageBannerFileMobile() {
            this.$refs.fileBannerMobile.$refs.input.click()
        },
        onFileChange(e) {
            const file = e.target.files[0]
            this.createBannerForm.file = file

            if(this.isImageExtension(file.type)) {
                this.urlImgBanner = URL.createObjectURL(file)
                this.showBannerImage = true
                this.showBannerEmbedVideo = false
            } else if(this.isVideoExtension(file.type)) {
                this.urlVideoBanner = URL.createObjectURL(file)
                this.showBannerImage = false
                this.showBannerEmbedVideo = true
            } else {
                this.showBannerImage = true
                this.showBannerEmbedVideo = false
            }
		},
        onFileChangeMobile(e) {
            const file = e.target.files[0]
            this.createBannerForm.file_mobile = file

            if(this.isImageExtension(file.type)) {
                this.urlImgBannerMobile = URL.createObjectURL(file)
                this.showBannerImageMobile = true
                this.showBannerEmbedVideoMobile = false
            } else if(this.isVideoExtension(file.type)) {
                this.urlVideoBannerMobile = URL.createObjectURL(file)
                this.showBannerImageMobile = false
                this.showBannerEmbedVideoMobile = true
            } else {
                this.showBannerImageMobile = true
                this.showBannerEmbedVideoMobile = false
            }
		},
		validationForm() {
			this.$refs.createBanner.validate().then(success => {
				if (success) {   
                    //Change values before send
                    this.createBannerForm.link_redirect_activo = (this.createBannerForm.link_redirect_activo) ? 1 : 0
                    
                    const config = {
                    	headers: { 'content-type': 'multipart/form-data' }
                	}

					let vm = this;
					let formData = new FormData()
					
					Object.keys(this.createBannerForm).forEach(function(key, index) {
						if(vm.createBannerForm[key] === null) {
                            formData.append(key, '');
                        } else {
                            formData.append(key, vm.createBannerForm[key]);
                        }
					});
                    
                    this.openLoader()

					this.$http.post(route('api.banners.store'), formData, config).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})
						
							this.$router.push({ name: 'banners.index' })
						} else {
                            this.createBannerForm.link_redirect_activo = (this.createBannerForm.link_redirect_activo) ? true : false

							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}
                        this.closeLoader()
					}).catch(error => {
						console.log(error)
                        this.createBannerForm.link_redirect_activo = (this.createBannerForm.link_redirect_activo) ? true : false
                        this.closeLoader()
					})
				}
			})
		},
	}
}
</script>