<template>
    <div>
        <b-row>
            <b-col>
                <b-button v-if="canLoggedNavigate('banners.create')" class="float-right mb-2" variant="primary" :to="{ name: 'banners.create' }">
					Agregar
				</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12">
                <b-card-group columns>                    
                    <b-card 
                        v-for="banner in banners"
                        v-bind:key="banner.codigo"
                        no-body
                        class="position-static"
                    >
                        <template v-if="banner.file.is_image">
                            <b-img 
                                fluid 
                                :src="`${banner.base_path_banner}/${banner.file.nombre}`"
                                :alt="banner.codigo" 
                            />
                        </template>
                        <template v-else>
                            <b-embed 
                                type="iframe" 
                                aspect="16by9" 
                                :src="`${banner.base_path_banner}/${banner.file.nombre}`"
                                allowfullscreen
                            />
                        </template>
                        <b-card-body>                            
                            <b-card-title class="text-center">                                
                                 <b-button
                                    v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                                    variant="outline-primary"
                                    class="btn-icon rounded-circle"
                                    @click="confirmDownOrder(banner.id)"
                                    :disabled="(banner.orden === 1) ? true : false"
                                >
                                    <feather-icon icon="ArrowUpIcon" />
                                </b-button>
                                &nbsp;&nbsp;
                                <b>Orden:&nbsp;{{ banner.orden }}</b>
                                &nbsp;&nbsp;
                                <b-button
                                    v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                                    variant="outline-primary"
                                    class="btn-icon rounded-circle"
                                    @click="confirmUpOrder(banner.id)"
                                    :disabled="(banner.orden === maxOrderBanner) ? true : false"
                                >
                                    <feather-icon icon="ArrowDownIcon" />
                                </b-button>
                            </b-card-title>
                            <b-card-text v-if="banner.titulo_principal">
                                {{ banner.titulo_principal }}
                            </b-card-text>
                            <b-card-text v-if="banner.titulo_secundario">
                                {{ banner.titulo_secundario }}
                            </b-card-text>
                        </b-card-body>
                        <b-card-footer>
                            <b-row>
                                <b-col>
                                    <div class="float-left">
                                        <small class="text-muted">
                                            {{ `Creado ${banner.created_at}` }}
                                        </small>
                                        <br>
                                        <small class="text-muted">
                                            {{ `Actualizado ${banner.updated_at}` }}
                                        </small>
                                    </div>
                                    <div class="float-right">
                                        <b-button
                                            variant="gradient-info"
                                            class="btn-icon rounded-circle"
                                            @click="editBanner(banner.id)"
                                        >
                                            <feather-icon icon="Edit2Icon" />
                                        </b-button>
                                        <b-button
                                            variant="gradient-danger"
                                            class="btn-icon rounded-circle"
                                            @click="confirmDelete(banner.id)"
                                        >
                                            <feather-icon icon="TrashIcon" />
                                        </b-button>

                                        <b-button
                                            v-if="banner.estado"
                                            variant="gradient-warning"
                                            class="btn-icon rounded-circle"
                                            @click="confirmSuspend(banner.id)"
                                        >
                                            <feather-icon icon="UserXIcon" />
                                        </b-button>
                                        <b-button
                                            v-else
                                            variant="gradient-success"
                                            class="btn-icon rounded-circle"
                                            @click="confirmActivate(banner.id)"
                                        >
                                            <feather-icon icon="UserCheckIcon" />
                                        </b-button>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-card-footer>
                    </b-card>
                </b-card-group>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import { BRow, BCol, BCardGroup, BCard, BCardText, BButton, BCardBody, BCardFooter, BCardTitle, BLink, BImg, BEmbed } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
/**	Mixins */
import custom from '@core/mixins/custom'
import loader from '@core/mixins/loader'

export default {
    components: {
        BRow,
        BCol,
        BCardGroup,
        BCard,
        BCardText,
        BButton,
        BCardBody,
        BCardFooter,
        BCardTitle,
        BLink,
        BImg,
        BEmbed
    },
    directives: {
        Ripple,
    },
    mixins: [custom, loader],
    data() {
        return {
            banners: [],
            maxOrderBanner: 1
        }
    },
    methods: {
        getBanners() {
			this.$http.get(route('api.banners.all'))
				.then(response => {
					this.banners = response.data;

                    if(this.banners.length > 0) {
                        this.maxOrderBanner = this.banners.reduce((acc, banner) => acc = acc > banner.orden ? acc : banner.orden, 0);
                    }
				}).catch(error => {
					console.log(error);
				});
		},
        editBanner(id) {
            this.$router.push({ name: 'banners.edit', params: {id: id} })
        },
        // confirm texrt
		confirmDelete(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas eliminar el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.banners.delete', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Banners
							this.getBanners()
						}
						
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		confirmSuspend(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas suspender el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.banners.suspend', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Banners
							this.getBanners()
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		confirmActivate(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas activar el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.banners.activate', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Banners
							this.getBanners()
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
        confirmUpOrder(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas realizar la acción seleccionada?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.banners.up-order', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Banners
							this.getBanners()
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
        confirmDownOrder(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas realizar la acción seleccionada?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.banners.down-order', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Banners
							this.getBanners()
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
    },
    created() {
        //Get Banners
        this.getBanners()
    }
}
</script>