<template>
	<b-card>
		<validation-observer ref="profileGeneral">
			<!-- form -->
			<b-form @submit.prevent="validationForm">
				<b-row>
					<b-col
						cols="12"
						class="mt-75"
					>
						<b-alert
							show
							variant="warning"
							class="mb-50 mb-3"
						>
							<template v-if="!generalData.verified">
								<h4 class="alert-heading">
									Su cuenta no se encuentra confirmada. Por favor revise su correo y siga la instrucciones. 
								</h4>
								<div class="alert-body">							
									Para reenviar la verificación a su correo, presione el siguiente enlace:
									<b-link class="alert-link">
										Reenviar Confirmación
									</b-link>
								</div>
							</template>
						</b-alert>
					</b-col>
				</b-row>
				<b-row>
					<b-col sm="6">
						<b-form-group
							label="Nombre"
						>
							<validation-provider
								#default="{ errors }"
								name="nombre"
								rules="required"
							>
								<b-form-input
									v-model="profileGeneralForm.name"
									name="name"
									placeholder="Nombre"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col sm="6">
						<b-form-group
							label="Email"
						>
							<validation-provider
								#default="{ errors }"
								name="email"
								rules="required"
							>
								<b-form-input
									v-model="profileGeneralForm.email"
									name="email"
									placeholder="Email"
									:disabled="true"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>								
					<b-col cols="12">
						<b-button
							v-ripple.400="'rgba(255, 255, 255, 0.15)'"
							variant="primary"
							class="mt-2 ml-1 float-right"
							type="submit"
						>
							Guardar
						</b-button>
						<b-button
							v-ripple.400="'rgba(186, 191, 199, 0.15)'"
							variant="outline-secondary"
							type="reset"
							class="mt-2 float-right"
							@click.prevent="resetForm"
						>
							Restaurar
						</b-button>
					</b-col>
				</b-row>
			</b-form>
		</validation-observer>
	</b-card>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import { BFormFile, BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BAlert, BCard, BCardText, BMedia, BMediaAside, BMediaBody, BLink, BImg } from 'bootstrap-vue'
import { ref } from '@vue/composition-api'
import Ripple from 'vue-ripple-directive'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
	components: {
		ValidationProvider,
		ValidationObserver,
		BButton,
		BForm,
		BImg,
		BFormFile,
		BFormGroup,
		BFormInput,
		BRow,
		BCol,
		BAlert,
		BCard,
		BCardText,
		BMedia,
		BMediaAside,
		BMediaBody,
		BLink,

		//form
		required
	},
	directives: {
		Ripple,
	},
	props: {
		generalData: {
			type: Object,
			default: () => {},
		},
	},
	data() {
		return {
			profileGeneralForm: {
				name: this.generalData.name,
                email: this.generalData.email
			},
		}
	},
	methods: {
		resetForm() {
			this.profileGeneralForm = {
				name: this.generalData.name,
                email: this.generalData.email
			}
		},
		validationForm() {
			this.$refs.profileGeneral.validate().then(success => {
				if (success) {
					this.$http.post(route('api.profile.change-general'), this.profileGeneralForm).then(response => {
						if(response.data.status === 'OK') {							
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})
						} else {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}
					}).catch(error => {
						console.log(error)
					})
				}
			})
		},
	},
	setup() {
		const refInputEl = ref(null)
		const previewEl = ref(null)

		return {
			refInputEl,
			previewEl,
		}
	},
}
</script>
