<template>
	<b-tabs
		vertical
		content-class="col-12 col-md-9 mt-1 mt-md-0"
		pills
		nav-wrapper-class="col-md-3 col-12"
		nav-class="nav-left"
	>
		<!-- general tab -->
		<b-tab active>
			<!-- title -->
			<template #title>
				<feather-icon
					icon="UserIcon"
					size="18"
					class="mr-50"
				/>
				<span class="font-weight-bold">General</span>
			</template>

			<template v-if="user">
				<account-setting-general
        			:general-data="user"
				/>
			</template>			
		</b-tab>
		<!--/ general tab -->
		<!-- change password tab -->
		<b-tab>
			<!-- title -->
			<template #title>
				<feather-icon
					icon="LockIcon"
					size="18"
					class="mr-50"
				/>
				<span class="font-weight-bold">Seguridad</span>
			</template>
			<account-setting-password />
		</b-tab>
		<!--/ change password tab -->
	</b-tabs>
</template>

<script>
import { BTabs, BTab } from 'bootstrap-vue'
import AccountSettingGeneral from './AccountSettingGeneral'
import AccountSettingPassword from './AccountSettingPassword'
import { getUserData } from '@/auth/utils'

export default {
	components: {
		BTabs,
		BTab,
		AccountSettingGeneral,
		AccountSettingPassword,
	},
	data() {
		return {
			user: null,
			userData: {}
		}
	},
	methods: {
		async getDataProfile() {
			try {
				const response = await this.$http.get(route('api.profile.index'))
				return response.data
			} catch (error) {
				console.log(error)
			}
		}
	},
	created() {		
		this.userData = getUserData()

		this.getDataProfile().then(data => {
			this.user = data
		})
	}
}
</script>
