<template>
	<b-card>
		<validation-observer ref="profilePassword">
			<!-- form -->
			<b-form @submit.prevent="validationForm">
				<b-row>
					<!-- old password -->
					<b-col md="6">
						<b-form-group
							label="Contraseña Actual"
							label-for="account-old-password"
						>
							<validation-provider
								#default="{ errors }"
								name="contraseña actual"
								rules="required|min:6"
							>
								<b-input-group class="input-group-merge">
									<b-form-input
										id="account-old-password"
										v-model="profilePasswordForm.current_password"
										name="old-password"
										:type="passwordFieldTypeOld"
										placeholder="Contraseña Actual"
									/>
									<b-input-group-append is-text>
										<feather-icon
											:icon="passwordToggleIconOld"
											class="cursor-pointer"
											@click="togglePasswordOld"
										/>
									</b-input-group-append>
								</b-input-group>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<!--/ old password -->
				</b-row>
				<b-row>
					<!-- new password -->
					<b-col md="6">
						<b-form-group
							label-for="account-new-password"
							label="Nueva Contraseña"
						>
							<validation-provider
								#default="{ errors }"
								name="contraseña actual"
								vid="Password"
								rules="required|min:6"
							>
								<b-input-group class="input-group-merge">
									<b-form-input
										id="account-new-password"
										v-model="profilePasswordForm.password"
										:type="passwordFieldTypeNew"
										name="new-password"
										placeholder="Nueva Contraseña"
									/>
									<b-input-group-append is-text>
										<feather-icon
											:icon="passwordToggleIconNew"
											class="cursor-pointer"
											@click="togglePasswordNew"
										/>
									</b-input-group-append>
								</b-input-group>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<!--/ new password -->
					<!-- retype password -->
					<b-col md="6">
						<b-form-group
							label-for="account-retype-new-password"
							label="Confirmar Nueva Contraseña"
						>
							<validation-provider
								#default="{ errors }"
								name="confirmar nueva contraseña"
								rules="required|min:6|confirmed:Password"
							>
								<b-input-group class="input-group-merge">
									<b-form-input
										id="account-retype-new-password"
										v-model="profilePasswordForm.password_confirmation"
										:type="passwordFieldTypeRetype"
										name="retype-password"
										placeholder="Confirmar Nueva Contraseña"
									/>
									<b-input-group-append is-text>
										<feather-icon
											:icon="passwordToggleIconRetype"
											class="cursor-pointer"
											@click="togglePasswordRetype"
										/>
									</b-input-group-append>
								</b-input-group>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<!--/ retype password -->

					<!-- buttons -->
					<b-col cols="12">
						<b-button
							v-ripple.400="'rgba(255, 255, 255, 0.15)'"
							variant="primary"
							class="mt-1 ml-1 float-right"
							type="submit"
						>
							Guardar
						</b-button>
						<b-button
							v-ripple.400="'rgba(186, 191, 199, 0.15)'"
							type="reset"
							variant="outline-secondary"
							class="mt-1 float-right"
							@click="clickResetProfilePasswordForm()"
						>
							Restablecer
						</b-button>
					</b-col>
					<!--/ buttons -->
				</b-row>
			</b-form>
		</validation-observer>
	</b-card>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, min, confirmed } from '@validations'
import { BButton, BForm, BFormGroup, BFormInput, BRow, BCol, BCard, BInputGroup, BInputGroupAppend } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
	components: {
		ValidationProvider,
		ValidationObserver,
		BButton,
		BForm,
		BFormGroup,
		BFormInput,
		BRow,
		BCol,
		BCard,
		BInputGroup,
		BInputGroupAppend,

		//form
		required,
		min,
		confirmed
	},
	directives: {
		Ripple,
	},
	data() {
		return {
			profilePasswordForm: {
				current_password: '',
				password: '',
				password_confirmation: ''
			},
			
			passwordFieldTypeOld: 'password',
			passwordFieldTypeNew: 'password',
			passwordFieldTypeRetype: 'password',
		}
	},
	computed: {
		passwordToggleIconOld() {
			return this.passwordFieldTypeOld === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
		passwordToggleIconNew() {
			return this.passwordFieldTypeNew === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
		passwordToggleIconRetype() {
			return this.passwordFieldTypeRetype === 'password' ? 'EyeIcon' : 'EyeOffIcon'
		},
	},
	methods: {
		clickResetProfilePasswordForm() {
			this.profilePasswordForm = {
				current_password: '',
				password: '',
				password_confirmation: ''
			}
			
			this.$refs.profilePassword.reset()
		},
		togglePasswordOld() {
			this.passwordFieldTypeOld = this.passwordFieldTypeOld === 'password' ? 'text' : 'password'
		},
		togglePasswordNew() {
			this.passwordFieldTypeNew = this.passwordFieldTypeNew === 'password' ? 'text' : 'password'
		},
		togglePasswordRetype() {
			this.passwordFieldTypeRetype = this.passwordFieldTypeRetype === 'password' ? 'text' : 'password'
		},
		validationForm() {
			this.$refs.profilePassword.validate().then(success => {
				if (success) {
					this.$http.post(route('api.profile.change-password'), this.profilePasswordForm).then(response => {
						if(response.data.status === 'OK') {							
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							this.clickResetProfilePasswordForm()
						} else {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}
					}).catch(error => {
						console.log(error)
					})
				}
			})
		},
	},
}
</script>
