<template>
	<b-card-code>
		<validation-observer ref="createNews">
			<b-form @submit.prevent="validationForm">
				<b-row class="mb-1">
					<b-col md="8">
						<b-form-group label="Título">
							<validation-provider
								#default="{ errors }"
								name="titulo"
								rules="required"
							>
								<b-form-input
									v-model="createNewsForm.titulo"
									:state="errors.length > 0 ? false:null"
									placeholder="Inserte Título de Noticia ..."
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Fecha">
							<validation-provider
								#default="{ errors }"
								name="fecha"
								rules="required"
							>
								<b-form-datepicker
									v-model="createNewsForm.fecha"
									locale="es-ES"
	      							:state="errors.length > 0 ? false:null"
    							/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row class="mb-1">
					<b-col md="3">
						<b-form-group label="Sección">
							<validation-provider
								#default="{ errors }"
								name="seccion"
								rules="required"
							>
								<b-form-select
								    v-model="createNewsForm.seccion"
    							>
									<b-form-select-option value="" selected>Seleccione una Sección</b-form-select-option>
									<template v-for="(section, index) in sections">										
										<b-form-select-option :value="section.id" :key="index">{{ section.nombre }}</b-form-select-option>
									</template>									
								</b-form-select>

								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="3">
						<b-form-group label="Categoría">
							<validation-provider
								#default="{ errors }"
								name="categoria"
								rules="required"
							>
								<b-form-select
								    v-model="createNewsForm.categoria"
    							>
									<b-form-select-option value="" selected>Seleccione una Categoría</b-form-select-option>
									<template v-for="(category, index) in categories">										
										<b-form-select-option :value="category.id" :key="index">{{ category.nombre }}</b-form-select-option>
									</template>									
								</b-form-select>

								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>					
					<b-col md="3">
						<b-form-group label="Destacado">
							<validation-provider
								#default="{ errors }"
								name="destacado"
								rules="required"
							>
								<b-form-select
								    v-model="createNewsForm.destacado"
    							>
									<b-form-select-option value="0">No</b-form-select-option>
									<b-form-select-option value="1">Si</b-form-select-option>
								</b-form-select>

								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="3">
						<b-form-group label="Orden Destacado">
							<validation-provider
								#default="{ errors }"
								name="orden_destacado"
								rules=""
							>
								<b-form-input
									type="number"
								    v-model="createNewsForm.orden_destacado"
									:state="errors.length > 0 ? false:null"
									placeholder="Inserte Orden ..."
    							>
									
								</b-form-input>

								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row class="mb-1">
					<b-col md="6">
						<b-form-group label="Etiquetas">
							<validation-provider
								#default="{ errors }"
								name="tags"
								rules="required"
							>
								<b-form-tags
									v-model="createNewsForm.tags"
									:input-attrs="{ 'aria-describedby': 'tags-remove-on-delete-help' }"
									separator=" "
									placeholder="Ingrese las nuevas etiquetas separadas por espacio"
									remove-on-delete
									add-on-enter
									:state="errors.length > 0 ? false:null"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="6">
						<b-form-group label="Imagen Principal">
							<validation-provider
								#default="{ errors }"
								name="banner"
								rules="required"
							>
								<!-- Styled -->
								<b-form-file
									v-model="createNewsForm.banner"
									placeholder="Elija un archivo o suéltelo aquí ..."
									drop-placeholder="Suelta el archivo aquí ..."
									v-on:change="onFileBannerChange"
									accept="image/*"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>				
				<b-row class="mb-1">
					<b-col>
						<b-form-group label="Descripción">
							<validation-provider
								#default="{ errors }"
								name="descripcion"
								rules="required"
							>
								<quill-editor
    								v-model="createNewsForm.descripcion"
    								:options="{theme: 'snow'}"
  								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row class="mb-1">
					<b-col md="6">
						<b-form-group label="Descripción Corta">
							<validation-provider
								#default="{ errors }"
								name="descripcion corta"
								rules="required"
							>
								<b-form-textarea
									v-model="createNewsForm.descripcion_corta"
									rows="4"
        							max-rows="8"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
					<b-col md="6">
						<b-form-group label="Observaciones">
							<validation-provider
								#default="{ errors }"
								name="observaciones"
								rules=""
							>
								<b-form-textarea
									v-model="createNewsForm.observaciones"
									rows="4"
        							max-rows="8"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<!-- submit button -->
					<b-col>
						<b-button
							variant="primary"
							type="submit"
							class="mt-1 float-right"
							@click.prevent="validationForm"
						>
							Guardar
						</b-button>
					</b-col>
				</b-row>
			</b-form>
		</validation-observer>
	</b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BFormInput, BFormGroup, BForm, BRow, BCol, BButton, BFormSelect, BFormSelectOption, BFormDatepicker, BFormTextarea, BFormFile, BFormTags } from 'bootstrap-vue'
import { required, email } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
/** Mixins */
import loader from '@core/mixins/loader'

// eslint-disable-next-line
import 'quill/dist/quill.core.css'
// eslint-disable-next-line
import 'quill/dist/quill.snow.css'
// eslint-disable-next-line
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default {
  	components: {		
		ValidationProvider,
		ValidationObserver,
		BCardCode,
		BFormInput,
		BFormGroup,
		BFormSelect,
		BFormSelectOption,
		BForm,
		BRow,
		BCol,
		BButton,
		BFormDatepicker,
		BFormTextarea,
		BFormFile,
		BFormTags,

		quillEditor
	},
	mixins: [loader],
	data() {
		return {
			createNewsForm: {
				titulo: '',
				fecha: '',
				seccion: '',
				categoria: '',
				destacado: 0,
				orden_destacado: '',
				tags: [],
				banner: null,
				descripcion_corta: '',
				descripcion: '',
				observaciones: ''
			},
			sections: [],
			categories: [],

			//Form
			required,
			email,
		}
	},
	methods: {
		getSections() {
			this.$http.get(route('api.customs.sections.all'))
			.then(response => {
				this.sections = response.data
			}).catch(error => {
				console.log(error)
			})
		},
		getCategories() {
			this.$http.get(route('api.customs.categories.all'))
			.then(response => {
				this.categories = response.data
			}).catch(error => {
				console.log(error)
			})
		},
		onFileBannerChange(e){        
            this.createNewsForm.banner = e.target.files[0];
		},
		validationForm() {
			this.$refs.createNews.validate().then(success => {
				if (success) {
					const config = {
                    	headers: { 'content-type': 'multipart/form-data' }
                	}

					let vm = this;
					let formData = new FormData()
					
					Object.keys(this.createNewsForm).forEach(function(key, index) {
						formData.append(key, vm.createNewsForm[key]);
					});

					this.openLoader()

					this.$http.post(route('api.news.store'), formData, config)
					.then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})
						
							this.$router.push({ name: 'news.index' })
						} else {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}

						this.closeLoader()
					}).catch(error => {
						console.log(error)
						this.closeLoader()
					})
				}
			})
		},
	},
	created() {
		//Get Sections
		this.getSections();
		//Get Categories
		this.getCategories()
	}
}
</script>