/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/** General */
.btn-custom-london {
	background: linear-gradient(118deg ,#00347b, rgb(57 122 255 / 70%)) !important;
	padding: 9px 17px !important;
}

/** Header **/
#top-bar {
	background: linear-gradient(118deg ,#00347b, rgb(57 122 255 / 70%)) !important;
}

.with-arrows .menu-item {
    display: none !important;
}

.with-arrows .menu-item.active {
    display: block !important;
}

.si-share {
	border-top: none;
	border-bottom: none;
}

/** Slider **/
.min-vh-custom {
	min-height: 480px !important;
}

/** Galleries **/
.content-wrap-gallery {
	padding: 80px 0;
}

@media screen and (max-width: 1440px) {
	.button.button-small {
		padding: 7px 10px !important;
	}
}