<template>
    <nav class="primary-menu with-arrows">
		<ul class="menu-container">
            <li v-for="(headline, index) in headlines" v-bind:key="index" class="menu-item" :class="{'active': index === 0}" :data-headline="index" data-animate="fadeIn">
			    <a class="menu-link pl-0" href="#">
				    <div><i class="icon-info"></i>INFORMATIVO:&nbsp;{{ headline.nombre }}</div>
			    </a>
			</li>			
		</ul>
	</nav>
</template>

<script>
/** Composition Api */
import { ref } from '@vue/composition-api'
/** Services */
import HeadlinesService from './../../services/headlines'

export default {
    setup() {
        let headlines = ref([])

        const setHeadlinesInterval = () => {
            if(headlines.value.length > 1) {
                let counter = 0;

                setInterval(() => { 
                    //Remove old item active
                    document.querySelector('.menu-item.active').classList.remove('active')
                    
                    if((counter + 1) === headlines.value.length) {
                        counter = 0
                    } else {
                        counter++
                    }

                    //Add new item active
                    document.querySelector('.menu-item[data-headline="' + counter + '"]').classList.add('active')
                }, 10000);
            }
        }

		HeadlinesService.getAllHeadlines().then(data => {
			headlines.value = data

            //Activate Headline Interval
            setHeadlinesInterval()
		})

		return {
			headlines
		}        
    }
}
</script>

<style scoped>
    .with-arrows [data-animate]:not(.animated) {
        opacity: 1;
    }
</style>