<template>	
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <template v-for="(section, index) in sections">            
            <a class="dropdown-item" :href="getRouteURLByParam(section.slug)" v-bind:key="section.slug" :title="section.nombre">{{ section.nombre }}</a>
            <div v-if="(index+1) < sections.length" class="dropdown-divider" v-bind:key="index"></div>
        </template>
    </div>
</template>

<script>
/** Composition Api */
import { ref } from '@vue/composition-api'
/** Services */
import CustomService from './../../services/custom'
export default {    
	setup() {
		let sections = ref([])

        const getRouteURLByParam = (param) => {
            return route('site.news', {'section': param})
        }

		CustomService.getSections().then(data => {
			sections.value = data
		})

		return {
			sections,
            getRouteURLByParam
		}
	}
}
</script>

<style scoped>
</style>