<template>
  	<b-card-code title="Titulares Informativos">		  
		<b-row class="mb-1">
    		<b-col md="6">
				<!-- button -->
				<b-button v-if="canLoggedNavigate('headlines.create')" variant="primary" @click="createHeadline">
					Agregar
				</b-button>
    		</b-col>
			<b-col md="6">
				<!-- search input -->
    			<div class="custom-search d-flex justify-content-end">
					<b-form-group>
						<div class="d-flex align-items-center">
							<label class="mr-1">Buscar</label>
							<b-form-input
								v-model="searchTerm"
								type="text"
								class="d-inline-block"
							/>
						</div>
					</b-form-group>
				</div>
			</b-col>
		</b-row>

		<!-- table -->
		<vue-good-table
			:columns="columns"
			:rows="rows"
			:search-options="{
				enabled: true,
				externalQuery: searchTerm }"
			:select-options="{
				enabled: false,
				selectOnCheckboxOnly: true, // only select when checkbox is clicked instead of the row
				selectionInfoClass: 'custom-class',
				selectionText: 'rows selected',
				clearSelectionText: 'clear',
				disableSelectInfo: true, // disable the select info panel on top
				selectAllByGroup: true, // when used in combination with a grouped table, add a checkbox in the header row to check/uncheck the entire group
			}"
			:pagination-options="{
				enabled: true,
				perPage:pageLength
			}"
		>
			<template
				slot="table-row"
				slot-scope="props"
			>
				<!-- Column: Nombre -->
				<span v-if="userData.role !== 'moderador' && props.column.field === 'nombre'">
					<b-link @click.prevent="editHeadline(props.row.id)">{{ props.row.nombre }}</b-link>
				</span>
				<!-- Column: Status -->
				<span v-else-if="props.column.field === 'estado'">
					<b-badge :variant="statusVariant(props.row.estado)">
						<template v-if="props.row.estado == '1'">
							Activo
						</template>
						<template v-else>
							Inactivo
						</template>
					</b-badge>
				</span>
				<!-- Column: Action -->
				<span v-else-if="props.column.field === 'action'">
					<b-link v-if="canLoggedNavigate('headlines.edit')" @click.prevent="editHeadline(props.row.id)">
						<feather-icon
							:id="`headline-row-${props.row.id}-edit-icon`"
							icon="Edit2Icon"
							class="cursor-pointer"
							size="18"
						/>
						<b-tooltip
							title="Editar"
							class="cursor-pointer"
							:target="`headline-row-${props.row.id}-edit-icon`"
						/>
					</b-link>
					<b-link v-if="canLoggedNavigate('headlines.delete')" @click="confirmDelete(props.row.id)">
						<feather-icon
							:id="`headline-row-${props.row.id}-delete-icon`"
							icon="TrashIcon"
							class="cursor-pointer"
							size="18"
						/>
						<b-tooltip
							title="Eliminar"
							class="cursor-pointer"
							:target="`headline-row-${props.row.id}-delete-icon`"
						/>
					</b-link>

					<template v-if="props.row.estado == 1">
						<b-link v-if="canLoggedNavigate('headlines.suspend')" @click="confirmSuspend(props.row.id)">
							<feather-icon
								:id="`headline-row-${props.row.id}-suspend-icon`"
								icon="UserXIcon"
								class="cursor-pointer"
								size="18"
							/>
							<b-tooltip
								title="Suspender"
								class="cursor-pointer"
								:target="`headline-row-${props.row.id}-suspend-icon`"
							/>
						</b-link>
					</template>
					<template v-else>
						<b-link v-if="canLoggedNavigate('headlines.activate')" @click="confirmActivate(props.row.id)">
							<feather-icon
								:id="`headline-row-${props.row.id}-activate-icon`"
								icon="UserCheckIcon"
								class="cursor-pointer"
								size="18"
							/>
							<b-tooltip
								title="Activar"
								class="cursor-pointer"
								:target="`headline-row-${props.row.id}-activate-icon`"
							/>
						</b-link>
					</template>
				</span>
				<!-- Column: Common -->
				<span v-else>
					{{ props.formattedRow[props.column.field] }}
				</span>
      		</template>

			<!-- pagination -->
			<template
				slot="pagination-bottom"
				slot-scope="props"
			>
				<div class="d-flex justify-content-between flex-wrap">
					<div class="d-flex align-items-center mb-0 mt-1">
						<span class="text-nowrap ">
							Mostrando 1 
						</span>
						<b-form-select
							v-model="pageLength"
							:options="['10','20','50']"
							class="mx-1"
							@input="(value)=>props.perPageChanged({currentPerPage:value})"
						/>
						<span class="text-nowrap"> de {{ props.total }} registros </span>
					</div>
					<div>
						<b-pagination
							:value="1"
							:total-rows="props.total"
							:per-page="pageLength"
							first-number
							last-number
							align="right"
							prev-class="prev-item"
							next-class="next-item"
							class="mt-1 mb-0"
							@input="(value)=>props.pageChanged({currentPage:value})"
						>
							<template #prev-text>
								<feather-icon
									icon="ChevronLeftIcon"
									size="18"
								/>
							</template>
							<template #next-text>
								<feather-icon
									icon="ChevronRightIcon"
									size="18"
								/>
							</template>
						</b-pagination>
					</div>
				</div>
			</template>
		</vue-good-table>

		<!-- modal -->
		<b-modal
			id="modal-form-create-edit-headline"
			ref="modal-form-headline"
			:title="titleHeadlineModalForm"			
			cancel-variant="outline-secondary"
			ok-title="Guardar"
			cancel-title="Cancelar"
			@show="resetModal"
      		@hidden="resetModal"
      		@ok="handleOk"
		>
			<form
				ref="form"
				@submit.stop.prevent="handleSubmit"
			>
				<b-form-group
					:state="nameState"
					label="Nombre"
					label-for="name-headline"
					invalid-feedback="Nombre es requerido"
				>
					<b-form-input
						id="name-headline"
						v-model="createEditHeadlineForm.nombre"
						:state="nameState"
						required
					/>
				</b-form-group>
			</form>
		</b-modal>
	</b-card-code>
</template>

<script>
import { getUserData } from '@/auth/utils'

import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { BAvatar, BBadge, BButton, BCol, BPagination, BFormGroup, BFormInput, BFormSelect, BDropdown, BDropdownItem, BRow, BLink, BTooltip, BModal, VBModal } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { VueGoodTable } from 'vue-good-table'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
/**	Mixins */
import custom from '@core/mixins/custom'
import loader from '@core/mixins/loader'

export default {
  	components: {
		BRow,
		BCol,
		BButton,
	  	BCardCode,
    	VueGoodTable,
		BAvatar,
		BBadge,
		BPagination,
		BFormGroup,
		BFormInput,
		BFormSelect,
		BDropdown,
		BDropdownItem,
		BLink,
		BTooltip,
		BModal,
		VBModal
  	},
	directives: {
    	'b-modal': VBModal,
    	Ripple,
  	},
	mixins: [custom, loader],
	data() {
		return {
			pageLength: 10,
			dir: false,
			columns: [
				{
					label: '#',
					field: 'id',
				},
				{
					label: 'Nombre',
					field: 'nombre',
				},
				{
					label: 'Estado',
					field: 'estado',
				},
				{
					label: 'Creado',
					field: 'created_at',
				},
				{
					label: 'Actualizado',
					field: 'updated_at',
				},
				{
					label: 'Acciones',
					field: 'action',
					thClass: 'text-center',
					tdClass: 'text-center',
				},
			],
			rows: [],
			searchTerm: '',

			createEditHeadlineForm: {
				nombre: ''
			},			
			titleHeadlineModalForm: '',
			urlHeadlineModalForm: '',			
			nameState: null,
			userData: null,
		}
	},
	methods: {
		getHeadlines() {
			this.$http.get(route('api.headlines.all'))
				.then(response => {
					this.rows = response.data;
				}).catch(error => {
					console.log(error);
				});
		},
		async getHeadlineById(id) {
			try {
				const response = await this.$http.get(route('api.headlines.show', id))
				return response.data
			} catch (error) {
				console.log(error)
			}
		},
    	// confirm texrt
		confirmDelete(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas eliminar el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.headlines.delete', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Headlines
							this.getHeadlines()
						}

						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		// confirm texrt
		confirmSuspend(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas suspender el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()
					
					this.$http.post(route('api.headlines.suspend', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Headlines
							this.getHeadlines()
						}

						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		// confirm texrt
		confirmActivate(id) {
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas activar el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.headlines.activate', id)).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Headlines
							this.getHeadlines()
						}
						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		resetModal() {
      		this.nameState = null
    	},
    	handleOk(bvModalEvt) {
      		// Prevent modal from closing
      		bvModalEvt.preventDefault()
      		// Trigger submit handler
      		this.handleSubmit()
    	},
		createHeadline() {
			this.createEditHeadlineForm = {nombre: ''}
			this.titleHeadlineModalForm = `Crear Titular Informativo`
			this.urlHeadlineModalForm = route('api.headlines.store')
			this.$refs['modal-form-headline'].show()
		},
		editHeadline(id) {
			this.getHeadlineById(id).then(headline => {
				if(headline.nombre !== undefined) {
					this.createEditHeadlineForm = {nombre: headline.nombre}

					this.titleHeadlineModalForm = `Editar Titular Informativo #${id}`
					this.urlHeadlineModalForm = route('api.headlines.update', headline.id)
					this.$refs['modal-form-headline'].show()
				} else {
					this.$toast({
						component: ToastificationContent,
						props: {
							title: 'Registro no encontrado. Intente nuevamente',
							icon: 'EditIcon',
							variant: 'danger',
						},
					})
				}
			})			
		},
		checkFormValidity() {
		    const valid = this.$refs.form.checkValidity()
      		this.nameState = valid
      		return valid
    	},
		handleSubmit() {
      		// Exit when the form isn't valid
      		if (!this.checkFormValidity()) {
        		return
      		}

			this.openLoader()
			
			this.$http.post(this.urlHeadlineModalForm, this.createEditHeadlineForm).then(response => {
				if(response.data.status === 'OK') {
					//Update Data Rows Headlines
					this.getHeadlines()

					// Hide the modal manually
					this.$nextTick(() => {
						this.$toast({
							component: ToastificationContent,
							props: {
								title: response.data.message,
								icon: 'EditIcon',
								variant: 'success',
							},
						})

						this.$refs['modal-form-headline'].hide()
					})
				} else {
					this.$toast({
						component: ToastificationContent,
						props: {
							title: response.data.message,
							icon: 'EditIcon',
							variant: 'danger',
						},
					})
				}

				this.closeLoader()
			}).catch(error => {
				console.log(error)
			})			
    	},
	},
	computed: {
		statusVariant() {
      		const statusColor = {
        		/* eslint-disable key-spacing */
        		1  : 'light-info',
        		0  : 'light-danger',        		
        		/* eslint-enable key-spacing */
      		}

      		return status => statusColor[status]
    	},
	},
	created() {
		//Get Headlines
		this.getHeadlines()

		this.userData = getUserData()	
	},
}
</script>

<style lang="scss" >
	@import '@core/scss/vue/libs/vue-good-table.scss';
</style>
