<template>
	<b-card
		no-body
		class="card-statistics"
	>
		<b-card-header>
			<b-card-title>Estadísticas</b-card-title>
			<b-card-text class="font-small-2 mr-25 mb-0">
				Actualizado hace 1 minuto
			</b-card-text>
		</b-card-header>
		<b-card-body class="statistics-body">
			<b-row>
				<b-col
					sm="4"
					class="mb-2 mb-xl-0"
				>
					<b-media no-body>
						<b-media-aside
							class="mr-2"
						>
							<b-avatar
								size="48"
								variant="primary"
							>
								<feather-icon
									size="24"
									icon="ImageIcon"
								/>
							</b-avatar>
						</b-media-aside>
						<b-media-body class="my-auto">
							<h4 class="font-weight-bolder mb-0">
								{{ totalBanners }}
							</h4>
							<b-card-text class="font-small-3 mb-0">
								Banners
							</b-card-text>
						</b-media-body>
					</b-media>
				</b-col>
				<b-col
					sm="4"
					class="mb-2 mb-xl-0"
				>
					<b-media no-body>
						<b-media-aside
							class="mr-2"
						>
							<b-avatar
								size="48"
								variant="info"
							>
								<feather-icon
									size="24"
									icon="BookOpenIcon"
								/>
							</b-avatar>
						</b-media-aside>
						<b-media-body class="my-auto">
							<h4 class="font-weight-bolder mb-0">
								{{ totalNews }}
							</h4>
							<b-card-text class="font-small-3 mb-0">
								Noticias
							</b-card-text>
						</b-media-body>
					</b-media>
				</b-col>
				<b-col
					sm="4"
					class="mb-2 mb-xl-0"
				>
					<b-media no-body>
						<b-media-aside
							class="mr-2"
						>
							<b-avatar
								size="48"
								variant="danger"
							>
								<feather-icon
									size="24"
									icon="UserIcon"
								/>
							</b-avatar>
						</b-media-aside>
						<b-media-body class="my-auto">
							<h4 class="font-weight-bolder mb-0">
								{{ totalUsers }}
							</h4>
							<b-card-text class="font-small-3 mb-0">
								Usuarios
							</b-card-text>
						</b-media-body>
					</b-media>
				</b-col>
			</b-row>
		</b-card-body>
  	</b-card>
</template>

<script>
import { BCard, BCardHeader, BCardTitle, BCardText, BCardBody, BRow, BCol, BMedia, BMediaAside, BAvatar, BMediaBody } from 'bootstrap-vue'

export default {
  	components: {
		BRow,
		BCol,
		BCard,
		BCardHeader,
		BCardTitle,
		BCardText,
		BCardBody,
		BMedia,
		BAvatar,
		BMediaAside,
		BMediaBody,
  	},
	data() {
		return {
			totalBanners: 0,
			totalNews: 0,
			totalUsers: 0
		}
	},
	methods: {
		getStatistics() {
			this.$http.get(route('api.home.statistics'))
				.then(response => {
					if(response.status === 200) {
						this.totalBanners = response.data.totalBanners
						this.totalNews = response.data.totalNews
						this.totalUsers = response.data.totalUsers
					}
				}).catch(error => {
					console.log(error)
				})
		}
	},
	created() {
		this.getStatistics()
	}
}
</script>
