<template>
	<div class="navbar-container d-flex content align-items-center">
		<!-- Nav Menu Toggler -->
		<ul class="nav navbar-nav d-xl-none">
			<li class="nav-item">
				<b-link
					class="nav-link"
					@click="toggleVerticalMenuActive"
				>
					<feather-icon
						icon="MenuIcon"
						size="21"
					/>
				</b-link>
			</li>
		</ul>
		<!-- Left Col -->
		<div class="bookmark-wrapper align-items-center flex-grow-1 d-none d-lg-flex">
			<dark-Toggler class="d-none d-lg-block" />
		</div>
		<b-navbar-nav class="nav align-items-center ml-auto">
			<b-nav-item-dropdown
				right
				toggle-class="d-flex align-items-center dropdown-user-link"
				class="dropdown-user"
			>
				<template #button-content>
					<div class="d-sm-flex d-none user-nav" v-if="userData">
						<p class="user-name font-weight-bolder mb-0">
							{{ userData.name }}
						</p>
						<span class="user-status">{{ getRoleName }}</span>
					</div>
					<b-avatar
						size="40"
						variant="light-primary"
						badge
						:src="require('@/assets/images/avatars/14-small.png')"
						class="badge-minimal"
						badge-variant="success"
					/>
				</template>
				<b-dropdown-item :to="{name: 'profile.index'}" link-class="d-flex align-items-center">
					<feather-icon
						size="16"
						icon="UserIcon"
						class="mr-50"
					/>
					<span>Perfil</span>
				</b-dropdown-item>
				<b-dropdown-divider />
				<b-dropdown-item link-class="d-flex align-items-center" @click="logout">
					<feather-icon
						size="16"
						icon="LogOutIcon"
						class="mr-50"
					/>
					<span>Cerrar Sesión</span>
				</b-dropdown-item>
			</b-nav-item-dropdown>
		</b-navbar-nav>
	</div>
</template>

<script>
import { BLink, BNavbarNav, BNavItemDropdown, BDropdownItem, BDropdownDivider, BAvatar } from 'bootstrap-vue'
import DarkToggler from '@core/layouts/components/app-navbar/components/DarkToggler.vue'
import { getUserData } from '@/auth/utils'
import useJwt from '@/auth/jwt/useJwt'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
	components: {
		BLink,
		BNavbarNav,
		BNavItemDropdown,
		BDropdownItem,
		BDropdownDivider,
		BAvatar,

		// Navbar Components
		DarkToggler,
	},
	props: {
		toggleVerticalMenuActive: {
			type: Function,
			default: () => {},
		},
	},
	data() {
		return {
			userData: null
		}
	},
	methods: {
		logout() {
			useJwt.logout().then(response => {
				if(response.status === 200) {
					// Remove userData from localStorage
					localStorage.removeItem(useJwt.jwtConfig.storageTokenKeyName)
					localStorage.removeItem(useJwt.jwtConfig.storageRefreshTokenKeyName)
					// Remove userData from localStorage
					localStorage.removeItem('userData')

					this.$store.dispatch('menu/destroy').then(() => {
						this.$router.replace({ name: 'auth.login' })

						this.$toast({
							component: ToastificationContent,
							position: 'top-right',
							props: {
								title: `Cierre de Sesión`,
								icon: 'CoffeeIcon',
								variant: 'danger',
								text: `${response.data.message}`,
							},
						})
					})
				}
			}).catch(error => {
				console.log(error)
			})
		},
	},
	computed: {
		getRoleName() {
			return this.userData.name !== undefined ? this.userData.role.toLowerCase().replace(/(?<= )[^\s]|^./g, a=>a.toUpperCase()) : ''
		}
	},
	created() {
		this.userData = getUserData()
	}
}
</script>
