<template>
    <div class="form-widget-alt">
		<div class="form-result"></div>
        <validation-observer ref="contactFormRef">
            <form class="row mb-0" id="template-contactform" name="template-contactform" @submit.prevent="validationForm">
                <div class="form-process">
                    <div class="css3-spinner">
                        <div class="css3-spinner-scaler"></div>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <validation-provider #default="{ errors }" name="nombre" rules="required|min:4">
                        <input type="text" id="template-contactform-name" name="name" class="sm-form-control border-form-control" placeholder="Tu Nombre Completo:" v-model="name">
                        <small class="text-danger">{{ errors[0] }}</small>
                    </validation-provider>
                </div>
                <div class="col-12 form-group">
                    <validation-provider #default="{ errors }" name="email" rules="required|email">
                        <input type="email" id="template-contactform-email" name="email" value="" class="required sm-form-control border-form-control" placeholder="Tu Dirección Email:" v-model="email">
                        <small class="text-danger">{{ errors[0] }}</small>
					</validation-provider>
                </div>
                <div class="col-12 form-group">
                    <validation-provider #default="{ errors }" name="teléfono" rules="required">
                        <input type="tel" id="template-contactform-phone" name="phone" value="" class="sm-form-control border-form-control" placeholder="Tu Teléfono:" v-model="phone">
                        <small class="text-danger">{{ errors[0] }}</small>
					</validation-provider>						
                </div>											
                <div class="col-12 form-group">
                    <validation-provider #default="{ errors }" name="mensaje" rules="required|min:2">
                        <textarea id="template-contactform-message" name="message" value="" class="sm-form-control border-form-control" placeholder="Escribe aquí tu consulta.." v-model="message"></textarea>
                        <small class="text-danger">{{ errors[0] }}</small>
					</validation-provider>
                </div>
                <div class="col-12 form-group">
                    <button class="button button-rounded btn-block button-large bg-color btn-custom-london text-white nott ls0 mx-0" type="submit" id="template-contactform-submit" value="submit">ENVIAR</button>
                    <br>
                    <small style="display: block; font-size: 12px; margin-top: 15px; color: #AAA;"><em>La información enviada es privada y solo la utilizamos para ponernos en contacto.</em></small>
                </div>
                <div class="col-12 form-group d-none">
                    <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                </div>
                <input type="hidden" name="prefix" value="template-contactform-">
            </form>
        </validation-observer>
	</div>
</template>

<script>
import Vue from 'vue'
import { ref, reactive, toRefs, onMounted } from '@vue/composition-api'
import { ValidationObserver, ValidationProvider, extend, localize } from 'vee-validate'
import { required, email, min } from 'vee-validate/dist/rules';
import es from 'vee-validate/dist/locale/es.json';

export default {
    components: {
		ValidationObserver,
    	ValidationProvider
  	},
    setup() {
        const contactFormRef = ref(null)

        let contactFormState = reactive({
            name: '',
            email: '',
            phone: '',
            message: '',
        })

        const setRulesValidator = () => {
            extend('required', required)
			extend('email', email)
			extend('min', min)
        }

        const initContactForm = () => {
            contactFormState.name = contactFormState.email = contactFormState.phone = contactFormState.message = ref('')
            contactFormRef.value.reset()
        }

        const validationForm = () => {
            contactFormRef.value.validate().then(success => {
				if(success) {
                    axios.post(route('api.site.contact'), contactFormState).then(({ data }) => {
					    if (data.status === 'OK') {
						    //Init Form
                            initContactForm()
					    } else {
                            this.$toast.error(data.message)
                        }

                        Vue.$toast.open({
                            message: data.message,
                            type: 'success',
                        });
				    });
				}
			})
        }

        onMounted(() => {
            //Set Rules Validator
            setRulesValidator()

            // Install and Activate the Spanish locale
		    localize('es', es);
        })

        return {
            contactFormRef,
            ...toRefs(contactFormState),
            validationForm
        }
    }
}
</script>

<style scoped>
</style>