<template>
    <div class="row mt-2">	
		<div v-for="(recentNewsItem, index) in recentNews" class="col-md-4 mb-5" v-bind:key="index">
			<div class="card course-card hover-effect border-0">
				<a :href="recentNewsItem.link">
                    <img class="card-img-top" :src="`${recentNewsItem.base_path_news_min}/${recentNewsItem.banner.nombre}`" alt="Banner News Image">
                </a>
				<div class="card-body">
					<h4 class="card-title font-weight-bold mb-2">
						<a :href="recentNewsItem.link" :ttile="recentNewsItem.titulo">{{ recentNewsItem.titulo }}</a>
					</h4>
					<p class="mb-2 card-title-sub text-uppercase font-weight-normal ls1">
						<a href="#" class="text-black-50" :title="recentNewsItem.category.nombre">{{ recentNewsItem.category.nombre }}</a>
					</p>
					<div class="rating-stars mb-2"><i class="icon-calendar"></i><span>&nbsp;{{ recentNewsItem.created_at }}</span></div>
					<p class="card-text text-black-50 mb-1">{{ recentNewsItem.descripcion_corta }}</p>
				</div>
				<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
					<div class="badge alert-primary">
						<a :href="recentNewsItem.link" title="Leer árticulo completo">Leer árticulo completo</a>
					</div>
					<div class="text-dark position-relative">
						<i class="icon-line2-user"></i>&nbsp;{{ recentNewsItem.user.name }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/** Composition Api */
import { ref } from '@vue/composition-api'
/** Services */
import NewsService from './../../services/news'
/** Mixins */
import custom from './../../mixins/custom'
export default {
    mixins: [custom],
	setup() {
		let recentNews = ref([])

		NewsService.getFeaturedNews().then(data => {
			recentNews.value = data
		})

		return {
			recentNews
		}
	}
}
</script>

<style scoped>
	.card-img-top {
		height: 300px;
		object-fit: cover;
	}
</style>