<template>
    <validation-observer ref="searchFormRef">
        <form class="row mb-0" id="template-searchform" name="template-searchform" @submit.prevent="validationForm">            
            <div class="col-12 form-group">
                <validation-provider #default="{ errors }" name="nombre" rules="required|min:4">
                    <div class="input-group input-group-lg mt-1">
                        <input type="search" name="search" class="form-control rounded border-0" v-model="search" placeholder="Busca Aqui Noticias..." aria-label="Busca Aqui Noticias...">
                        <div class="input-group-append">
                            <button type="submit" class="btn"><i class="icon-line-search font-weight-bold"></i></button>
                        </div>
                    </div>
                    <small class="text-danger d-none">{{ errors[0] }}</small>
                </validation-provider>
            </div>            
        </form>
    </validation-observer>	
</template>

<script>
import { ref, onMounted } from '@vue/composition-api'
import { ValidationObserver, ValidationProvider, extend, localize } from 'vee-validate'
import { required, min } from 'vee-validate/dist/rules';
import es from 'vee-validate/dist/locale/es.json';

export default {
    components: {
		ValidationObserver,
    	ValidationProvider
  	},
    setup() {
        let search = ref('')
        const searchFormRef = ref(null)

        const setRulesValidator = () => {
            extend('required', required)
			extend('min', min)
        }

        const validationForm = () => {
            searchFormRef.value.validate().then(success => {
				if(success) {
                    window.location.href = route('site.news', {search: search.value})
				}
			})
        }

        onMounted(() => {
            //Set Rules Validator
            setRulesValidator()

            // Install and Activate the Spanish locale
		    localize('es', es);
        })

        return {
            search,
            searchFormRef,            
            validationForm
        }
    }
}
</script>

<style scoped>
    #template-searchform input[type="search"] {
        padding-right: 3rem;
    }

    #template-searchform .input-group-append {
        background-color: #fff;
    }

    #template-searchform .input-group-append button {
        max-height: 45px;
    }
</style>