<template>
    <div class="single-post nobottommargin">
		<!-- Single Post
		============================================= -->
		<div class="entry clearfix" v-if="newsItem">
			<!-- Entry Title
			============================================= -->
			<div class="entry-title">
				<h2>{{ newsItem.titulo }}</h2>
			</div><!-- .entry-title end -->
			<!-- Entry Meta
			============================================= -->
			<ul class="entry-meta clearfix">
				<li><i class="icon-calendar3"></i>&nbsp;{{ newsItem.created_at }}</li>
				<li><a><i class="icon-user"></i>&nbsp;{{ newsItem.user.name }}</a></li>
				<li v-if="newsItem.tags.length > 0">
					<i class="icon-tags"></i>&nbsp;
					<template v-for="(tag, indexTag) in newsItem.tags">
						<a href="#" v-bind:key="`${newsItem.slug}-${indexTag}-tag`" :title="tag">{{ tag }}</a>
						<span v-if="indexTag != Object.keys(newsItem.tags).length - 1" v-bind:key="`${newsItem.slug}-${indexTag}-span`">,&nbsp;</span>
					</template>
				</li>
			</ul><!-- .entry-meta end -->
			<!-- Entry Content
			============================================= -->
			<div class="entry-content notopmargin">
				<div class="w-100" v-html="newsItem.descripcion"></div>
				<!-- Post Single - Content End -->
				<!-- Tag Cloud
				============================================= -->
				<div class="tagcloud clearfix bottommargin">
					<template v-for="(tag, index) in newsItem.tags">
						<a href="#" v-bind:key="index" :title="tag">{{ tag }}</a>
					</template>
				</div><!-- .tagcloud end -->
				<div class="clear"></div>
				<!-- Post Single - Share
				============================================= -->
				<div class="si-share noborder clearfix">
					<span>Comparte esta noticia:</span>
					<div class="float-right">
						<a :href="getWhatsappSharedUrl" class="social-icon si-borderless si-whatsapp" target="_blank">
							<i class="icon-whatsapp"></i>
							<i class="icon-whatsapp"></i>
						</a>
						<a :href="getFacebookSharedUrl" class="social-icon si-borderless si-facebook" target="_blank">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a :href="getTwitterSharedUrl" class="social-icon si-borderless si-twitter" target="_blank">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a :href="getMailSharedUrl" class="social-icon si-borderless si-email3" target="_blank">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
					</div>
				</div><!-- Post Single - Share End -->
			</div>
		</div><!-- .entry end -->					
		
        <related-news-component :slug="slug" />
	</div>
</template>

<script>
/** Composition Api */
import { ref, computed } from '@vue/composition-api'
/** Components */
import RelatedNewsComponent from './RelatedNewsComponent'
/** Services */
import NewsService from './../../services/news'
/** Mixins */
import custom from './../../mixins/custom'

export default {
	props: {
	    slug: {
      		type: String,
      		required: true,
			default: ''
    	},
	},
    components: { 
        RelatedNewsComponent 
    },
    mixins: [custom],
	setup(props) {
		let newsItem = ref(null)
		const currentURL = ref(window.location.href)

		const getWhatsappSharedUrl = computed(() => {
      		return `https://wa.me/?text=${currentURL.value}`
    	})

		const getFacebookSharedUrl = computed(() => {
            return `https://www.facebook.com/sharer.php?u=${currentURL.value}`
        })

        const getTwitterSharedUrl = computed(() => {
            return `https://twitter.com/intent/tweet?url=${currentURL.value}`
        })

        const getMailSharedUrl = computed(() => {
            return `mailto:?subject=Quiero%20que%20veas%20este%20producto&body=Hola%2C%20chequea%20este%20producto%20Chequea%20esta%20noticia%20${currentURL.value}`
        })

		NewsService.getFullNewsBySlug(props.slug).then(data => {
			newsItem.value = data

			//Change name in page title
			document.querySelector('#page-title h1').innerHTML = newsItem.value.titulo
		})	

		return {
			newsItem,
			getWhatsappSharedUrl,
			getFacebookSharedUrl,
			getTwitterSharedUrl,
			getMailSharedUrl
		}
	}
}
</script>

<style scoped>
</style>