<template>
    <div>    
		<!-- Posts
		============================================= -->
		<div id="posts" class="small-thumbs">
            <div v-for="(newsItem, index) in news" class="entry clearfix" v-bind:key="index">
				<div class="entry-image">
					<a :href="newsItem.link">
                        <img class="image_fade" :src="`${newsItem.base_path_news_min}/${newsItem.banner.nombre}`" alt="News Image Banner">
                    </a>
				</div>
				<div class="entry-c">
					<div class="entry-title">
						<h2><a :href="newsItem.link" title="Título">{{ newsItem.titulo }}</a></h2>
					</div>
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3"></i>&nbsp;{{ newsItem.created_at }}</li>
						<li><a title="Autor"><i class="icon-user"></i>&nbsp;{{ newsItem.user.name }}</a></li>
						<li v-if="newsItem.tags.length > 0">
							<i class="icon-tags"></i>&nbsp;
							<template v-for="(tag, indexTag) in newsItem.tags">
								<a href="#" v-bind:key="`${index}-${indexTag}-tag`" :title="tag">{{ tag }}</a>
								<span v-if="indexTag != Object.keys(newsItem.tags).length - 1" v-bind:key="`${index}-${indexTag}-span`">,&nbsp;</span>
							</template>
						</li>
					</ul>
					<div class="entry-content">
						<p class="text-justify">{{ newsItem.descripcion_corta }}</p>
						<a :href="newsItem.link" class="more-link" title="Leer Más">Leer Más...</a>
					</div>
				</div>
			</div>            
		</div><!-- #posts end -->
	</div>
</template>

<script>
/** Composition Api */
import { ref } from '@vue/composition-api'
/** Services */
import CustomService from './../../services/custom'
import NewsService from './../../services/news'
/** Mixins */
import custom from './../../mixins/custom'

export default {
    mixins: [custom],
    setup() {
        let news = ref([])

		CustomService.getFilterParams().then(params => {
			NewsService.getNewsByFilters(params).then((data) => {
				news.value = data
			})
		})

		return {
			news
		}
    }
}
</script>

<style scoped>
</style>