<template>
    <div>
        <h3>Noticias Relacionadas:</h3>
		<div class="related-posts clearfix">
			<div class="col_half nobottommargin">
				<div v-for="(relatedNewsItem, index) in relatedNews" class="mpost clearfix" v-bind:key="index">
					<div class="entry-image">
						<a :href="relatedNewsItem.link">
							<img :src="`${relatedNewsItem.base_path_news_min}/${relatedNewsItem.banner.nombre}`" alt="News Image Related">
						</a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h4><a :href="relatedNewsItem.link" :title="relatedNewsItem.titulo">{{ relatedNewsItem.titulo }}</a></h4>
						</div>
						<ul class="entry-meta clearfix">
							<li><i class="icon-calendar3"></i>&nbsp;{{ relatedNewsItem.created_at }}</li>
						</ul>
						<div class="entry-content">{{ relatedNewsItem.descripcion_corta }}</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>

<script>
/** Composition Api */
import { ref } from '@vue/composition-api'
/** Services */
import NewsService from './../../services/news'
/** Mixins */
import custom from './../../mixins/custom'

export default {
	props: {
	    slug: {
      		type: String,
      		required: true,
			default: ''
    	},
	},
    mixins: [custom],
	setup(props) {
		let relatedNews = ref([])

		NewsService.getRelatedNewsBySlug(props.slug).then(data => {
			relatedNews.value = data
		})

		return {
			relatedNews
		}
	}
}
</script>

<style>

</style>