<template>
    <div class="sidebar-widgets-wrap">
		<div v-if="filter !== 'inside'" class="widget">
			<div class="clearfix">
				<div class="form-group">
					<label for="exampleFormControlSearch">Buscar</label>
					<div class="input-group">
						<input type="search" name="search" class="form-control" id="exampleFormControlSearch" placeholder="Aniversario Colegio...." v-model="search" v-on:keyup.enter="generateFilterQueryParams">
						<div class="input-group-append">
							<span class="input-group-text" @click="generateFilterQueryParams"><i class="icon-line-search"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="form-group">
                    <label for="exampleFormControlSelect1">Sección</label>
                    <select class="form-control" v-model="section" @change="generateFilterQueryParams">
                        <option value="">-- Seleccione una sección --</option>
						<option v-for="(section, indexSection) in sections" :value="section.slug" v-bind:key="indexSection">{{ section.nombre }}</option>
                    </select>
                </div>
			</div>
			<div class="clearfix">
				<div class="form-group">
                    <label for="exampleFormControlSelect1">Categoría</label>
                    <select class="form-control" v-model="category" @change="generateFilterQueryParams">
                        <option value="">-- Seleccione una categoria --</option>
						<option v-for="(category, indexCategory) in categories" :value="category.slug" v-bind:key="indexCategory">{{ category.nombre }}</option>
                    </select>
                </div>
			</div>
		</div>
		<div class="widget clearfix">
			<div class="tabs nobottommargin clearfix" id="sidebar-tabs">
				<ul class="tab-nav clearfix">
					<li><a href="#tabs-1">Destacadas</a></li>
					<li v-if="filter !== 'inside'"><a href="#tabs-2">Recientes</a></li>
				</ul>
				<div class="tab-container">
					<div class="tab-content clearfix" id="tabs-1">
						<div id="popular-post-list-sidebar">
							<div v-for="(newsFeaturedItem, index) in featuredNews" class="spost clearfix" v-bind:key="index">
								<div class="entry-image">
									<a :href="newsFeaturedItem.link" class="nobg" :title="newsFeaturedItem.titulo">
										<img class="rounded-circle" :src="`${newsFeaturedItem.base_path_news_ico}/${newsFeaturedItem.banner.nombre}`" alt="Banner News">
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h4><a :href="newsFeaturedItem.link" :title="newsFeaturedItem.titulo">{{ newsFeaturedItem.titulo }}</a></h4>
									</div>
									<ul class="entry-meta">
										<li>{{ newsFeaturedItem.created_at }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div v-if="filter !== 'inside'" class="tab-content clearfix" id="tabs-2">
						<div id="recent-post-list-sidebar">
							<div v-for="(newsRecentItem, index) in recentNews" class="spost clearfix" v-bind:key="index">
								<div class="entry-image">
									<a :href="newsRecentItem.link" class="nobg" :title="newsRecentItem.titulo">
										<img class="rounded-circle" :src="`${newsRecentItem.base_path_news_ico}/${newsRecentItem.banner.nombre}`" alt="Banner News">
									</a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h4><a :href="newsRecentItem.link" :title="newsRecentItem.titulo">{{ newsRecentItem.titulo }}</a></h4>
									</div>
									<ul class="entry-meta">
										<li>{{ newsRecentItem.created_at }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="filter !== 'inside'" class="widget clearfix">
			<h4>Categorías Frecuentes</h4>
			<div class="tagcloud">
				<a v-for="(category, indexCategory) in frequentCategories" href="#" v-bind:key="indexCategory" @click.prevent="clickFilterFrequentCategory(category.slug)">{{ category.nombre }}</a>
			</div>
		</div>
	</div>
</template>

<script>
/** Composition Api */
import { ref, reactive, toRefs } from '@vue/composition-api'
/** Services */
import CustomService from './../../services/custom'
import NewsService from './../../services/news'
/** Mixins */
import custom from './../../mixins/custom'
export default {
    mixins: [custom],
	props: {
	    filter: {
      		type: String,
      		required: true,
			default: ''
    	},
	},
    setup(props) {
        let featuredNews = ref([]),
			recentNews = ref([]),
			frequentCategories = ref([]),
			categories = ref([]),
			sections = ref([])

		let sidebarFilterState = reactive({
            search: '',
            section: '',
            category: '',
			tags: ''
        })

		const maxFrequentCategoriesTags = ref(5)		

		if(props.filter !== 'inside') {			
			//Get Sections
			CustomService.getSections().then(data => {
				sections.value = data				
			})			

			//Get Categories
			CustomService.getCategories().then(data => {
				categories.value = data					
			})

			//Get Recent News
			NewsService.getRecentNews().then(data => {
				recentNews.value = data
			})

			CustomService.getFilterParams().then(params => {
				Object.keys(params).forEach(key => {
  					sidebarFilterState[key] = params[key]
				});
			})

			//Get Frequent Categories
			CustomService.getFrequentCategories().then(data => {				
				if(data.length > maxFrequentCategoriesTags.value) {
					frequentCategories.value = data.slice(0, maxFrequentCategoriesTags.value);
				} else {
					frequentCategories.value = data
				}
			})
		}

		//Get Featured News
		NewsService.getFeaturedNews().then(data => {
			featuredNews.value = data
		})
		
		const generateFilterQueryParams = () => {
			const params = {}

			Object.keys(sidebarFilterState).forEach(key => {
				if(sidebarFilterState[key]) {
					params[key] = sidebarFilterState[key]
				}
			});

			//Redirect new search params
			window.location.href = route('site.news', params)
		}

		const clickFilterFrequentCategory = (category) => {
			const params = {}
			params['category'] = category

			//Redirect new search params
			window.location.href = route('site.news', params)
		}

		return {
			featuredNews,
			recentNews,
			frequentCategories,
			categories,
			sections,

			...toRefs(sidebarFilterState),

			generateFilterQueryParams,
			clickFilterFrequentCategory
		}
    }
}
</script>

<style scoped>
</style>