<template>
	<b-card-code>
		<validation-observer ref="editGallery">
			<b-form @submit.prevent="validationForm">
				<b-row class="mb-1">
					<b-col md="6">
						<b-row>
							<b-col>
								<b-form-group label="Nombre">
									<validation-provider
										#default="{ errors }"
										name="nombre"
										rules="required"
									>
										<b-form-input
											v-model="editGalleryForm.nombre"
											:state="errors.length > 0 ? false:null"
											placeholder="Feria Científica ..."
										/>
										<small class="text-danger">{{ errors[0] }}</small>
									</validation-provider>
								</b-form-group>
							</b-col>
						</b-row>
						<b-row>
							<b-col md="6">
								<b-form-group label="Fecha">
									<validation-provider
										#default="{ errors }"
										name="fecha"
										rules="required"
									>
										<b-form-datepicker
											v-model="editGalleryForm.fecha"
											locale="es-ES"
											:state="errors.length > 0 ? false:null"
										/>
										<small class="text-danger">{{ errors[0] }}</small>
									</validation-provider>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group label="Lugar del Evento">
									<validation-provider
										#default="{ errors }"
										name="lugar"
										rules="required"
									>
										<b-form-input
											v-model="editGalleryForm.lugar"
											:state="errors.length > 0 ? false:null"
											placeholder=" Colegio London ..."
										/>
										<small class="text-danger">{{ errors[0] }}</small>
									</validation-provider>
								</b-form-group>
							</b-col>
						</b-row>
					</b-col>
					<b-col md="6">
						<b-row class="mb-1">
							<b-col>
								<b-form-group label="Descripción">
									<validation-provider
										#default="{ errors }"
										name="descripcion"
										rules="required"
									>
										<b-form-textarea
											v-model="editGalleryForm.descripcion"
											rows="4"
										/>
										<small class="text-danger">{{ errors[0] }}</small>
									</validation-provider>
								</b-form-group>
							</b-col>							
						</b-row>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group label="Observaciones">
							<validation-provider
								#default="{ errors }"
								name="observaciones"
								rules=""
							>
								<b-form-textarea
									v-model="editGalleryForm.observaciones"
									rows="3"
								/>
								<small class="text-danger">{{ errors[0] }}</small>
							</validation-provider>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<!-- submit button -->
					<b-col>
						<b-button
							variant="primary"
							type="submit"
							class="mt-1 float-right"
							@click.prevent="validationForm"
						>
							Guardar
						</b-button>
					</b-col>
				</b-row>
			</b-form>
		</validation-observer>
	</b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BFormInput, BFormGroup, BForm, BRow, BCol, BButton, BFormSelect, BFormSelectOption, BFormDatepicker, BFormTextarea } from 'bootstrap-vue'
import { required, email } from '@validations'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

/** Mixins */
import loader from '@core/mixins/loader'

export default {
  	components: {		
		ValidationProvider,
		ValidationObserver,
		BCardCode,
		BFormInput,
		BFormGroup,
		BFormSelect,
		BFormSelectOption,
		BForm,
		BRow,
		BCol,
		BButton,
		BFormDatepicker,
		BFormTextarea
	},
	mixins: [loader],
	data() {
		return {
			editGalleryForm: {
				nombre: '',
				fecha: '',
				lugar: '',
				descripcion: '',
				observaciones: ''
			},

			galleryId: '',
			//Form
			required,
			email,
		}
	},
	methods: {		
		getGallery() {
			this.$http.get(route('api.gallery.show', this.galleryId))
				.then(response => {
					if(response.data !== undefined) {
						this.fillUpdateGalleryForm(response.data)
					}
				}).catch(error => {
					console.log(error)
				})
		},
		fillUpdateGalleryForm(event) {
			this.editGalleryForm = {
				nombre: event.nombre,
				fecha: event.fecha,
				lugar: event.lugar,
				descripcion: event.descripcion,
				observaciones: event.observaciones
			}
		},		
		validationForm() {
			this.$refs.editGallery.validate().then(success => {
				if (success) {
					this.openLoader()

					this.$http.post(route('api.gallery.update', this.galleryId), this.editGalleryForm).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})
						
							this.$router.push({ name: 'gallery.index' })
						} else {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'danger',
								},
							})
						}

						this.closeLoader()
					}).catch(error => {
						console.log(error)
						this.closeLoader()
					});
				}
			})
		},
	},
	created() {
		if(this.$route.params.id === undefined) {
			this.$router.push({ name: 'gallery.index' })
		}

		this.galleryId = this.$route.params.id

		//Get Gallery To Edit
		this.getGallery()
	}
}
</script>