<template>
    <div>
        <b-row>
            <b-col>
                <b-button v-if="canLoggedNavigate('gallery.images.create')" class="float-right mb-2" variant="primary" @click="openModalDropzone()">
					Agregar
				</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12">
                <b-card-group 
					v-if="gallery && gallery.files.length"
					columns
				>
                    <b-card 
                        v-for="(file, index) in gallery.files"
                        v-bind:key="index"
                        no-body
                        class="position-static"
                    >
                        <b-img 
                            fluid 
                            :src="`${gallery.base_path_gallery}/${file.nombre}`"
                            :alt="file.nombre"
                        />
                        
                        <b-card-footer>
                            <b-row>
                                <b-col>
									<div class="float-left">
                                        <small class="text-muted">
                                            {{ `Creado ${file.created_at}` }}
                                        </small>
                                        <br>
                                        <small class="text-muted">
                                            {{ `Actualizado ${file.updated_at}` }}
                                        </small>
                                    </div>                              
                                    <div class="float-right">
                                        <b-button
                                            variant="gradient-danger"
                                            class="btn-icon rounded-circle"
                                            @click="confirmDelete(file.id)"
                                        >
                                            <feather-icon icon="TrashIcon" />
                                        </b-button>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-card-footer>
                    </b-card>
                </b-card-group>
            </b-col>
        </b-row>

		<!-- modal -->
		<b-modal
			id="modal-dropzone-gallery-images"
			ref="modal-dropzone"
			size="lg"
			title="Agregar Imágenes"			
			ok-only
			ok-title="Cerrar"
			ok-variant="outline-secondary"
		>
			<vue-dropzone 
				id="dropzone-gallery-images"
				acceptedFileTypes="image/*"
				:useCustomSlot=true				
				:options="dropzoneOptions"
				@vdropzone-complete="getGallery()">
			>
				<div class="dropzone-custom-content">
					<h3 class="dropzone-custom-title">¡Arrastra y suelta para subir contenido!</h3>
					<div class="subtitle">...o haga clic para seleccionar un archivo de su computadora</div>
				</div>
			</vue-dropzone>
		</b-modal>
    </div>
</template>

<script>
import { BRow, BCol, BCardGroup, BCard, BCardText, BButton, BCardBody, BCardFooter, BCardTitle, BImg, BModal, VBModal } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { getUserToken } from '@/auth/utils'

/**	Mixins */
import custom from '@core/mixins/custom'
import loader from '@core/mixins/loader'

import VueDropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    components: {
        BRow,
        BCol,
        BCardGroup,
        BCard,
        BCardText,
        BButton,
        BCardBody,
        BCardFooter,
        BCardTitle,
        BImg,
		BModal, 
		VBModal,

		VueDropzone
    },
    directives: {
		'b-modal': VBModal,
        Ripple,
    },
    mixins: [custom, loader],
    data() {
        return {
			gallery: null,
			galleryId: 0,

			dropzoneOptions: {
          		url: '',
          		thumbnailWidth: 200,
          		maxFilesize: 20,
				headers:{"Authorization":'Bearer ' + getUserToken()},
      		}
        }
    },
    methods: {
        getGallery() {
			this.$http.get(route('api.gallery.show', this.galleryId))
				.then(response => {
					this.gallery = response.data
				}).catch(error => {
					console.log(error);
				});
		},
        // confirm texrt
		confirmDelete(fileId) {			
			this.$bvModal.msgBoxConfirm('¡No podrás revertir esto!', {
				title: 'Estás seguro que deseas eliminar el registro seleccionado?',
				size: 'sm',
				okVariant: 'primary',
				okTitle: 'Si',
				cancelTitle: 'No',
				cancelVariant: 'outline-secondary',
				hideHeaderClose: false,
				centered: true,
			}).then(value => {
          		if (value) {
					this.openLoader()

					this.$http.post(route('api.gallery.images.delete', [this.galleryId, fileId])).then(response => {
						if(response.data.status === 'OK') {
							this.$toast({
								component: ToastificationContent,
								props: {
									title: response.data.message,
									icon: 'EditIcon',
									variant: 'success',
								},
							})

							//Get Gallery
							this.getGallery()
						}

						this.closeLoader()
					}).catch(error => {
						console.log(error);
						this.closeLoader()
					})
				}
        	})
		},
		openModalDropzone() {
			this.$refs['modal-dropzone'].show()
		},
    },
    created() {
		if(this.$route.params.gallery === undefined) {
			this.$router.push({ name: 'gallery.index' })
		}

		this.galleryId = this.$route.params.gallery
		this.dropzoneOptions['url'] = route('api.gallery.images.store', this.$route.params.gallery)

        //Get Gallery
		this.getGallery()
    }
}
</script>
<style scoped>
	.dropzone {
		margin: 2rem 1rem;
		border: 2px dashed #e5e5e5 !important;
	}

	.dropzone-custom-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.dropzone-custom-title {
		margin-top: 0;
		color: #2980b9;
	}

	.subtitle {
		color: #314b5f;
	}
</style>