<template>
    <div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full clearfix" :class="{'portfolio-notitle': !isMobile }">
		<article v-for="(gallery, index) in galleriesWithFiles" v-bind:key="index" class="portfolio-item pf-media pf-icons" data-lightbox="gallery">
			<div class="portfolio-image" :style="{'background': `url(${gallery.base_path_gallery}/${gallery.files[0].nombre}) center center / cover`, 'min-height': '300px', 'border': '7px #fff solid'}">
				<div class="portfolio-overlay">
					<a :href="`${gallery.base_path_gallery}/${gallery.files[0].nombre}`" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
					<template v-for="(file, indexFile) in gallery.files">
						<a v-if="indexFile !== 0" :href="`${gallery.base_path_gallery}/${file.nombre}`" v-bind:key="indexFile" class="d-none" data-lightbox="gallery-item"></a>
					</template>
				</div>
			</div>
			<div class="portfolio-desc">
				<a v-if="isMobile" :href="`${gallery.base_path_gallery}/${gallery.files[0].nombre}`" class="left-icon lead text-center mb-2" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i>&nbsp;Ver Fotos</a>
				<h3>{{ gallery.nombre }}</h3>				
				<span>{{ gallery.fecha_format_short }} - {{ gallery.lugar }}</span>
			</div>
		</article>

		<article class="portfolio-item pf-graphics pf-illustrations" style="display:none;">
			<div class="portfolio-image">
				<div class="fslider" data-arrows="false">
					<div class="flexslider">
						<div class="slider-wrap">
							<div class="slide"><a href="portfolio-single-gallery.html"><img :src="getAssetURLByPath('assets/site/images/portfolio/4/6.jpg')" alt="Shake It"></a></div>
						</div>
					</div>
				</div>
				<div class="portfolio-overlay" data-lightbox="gallery">
					<a :href="getAssetURLByPath('assets/site/images/portfolio/full/6.jpg')" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
					<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
				</div>
			</div>
			<div class="portfolio-desc">
				<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
				<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
			</div>
		</article>
	</div><!-- #portfolio end -->
</template>

<script>
/** Composition Api */
import { ref, computed } from '@vue/composition-api'
/** Services */
import GalleryService from './../../services/gallery'
/** Mixins */
import custom from './../../mixins/custom'

export default {
    mixins: [custom],
	setup() {
		const isMobile = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
        let galleries = ref([])

		GalleryService.getAllGalleries().then((data) => {
			galleries.value = data
		})

		const galleriesWithFiles = computed(() => {
			if(galleries.value.length) {
				return galleries.value.filter(gallery => gallery.files.length > 0)
			}

			return []
		});				

		return {
			isMobile,
			galleries,
			/** Computed Properties */
			galleriesWithFiles,
		}
    }
}
</script>