<template>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Example Value:&nbsp;{{ name }}</h2>
        </div>
    </div>
</template>

<script>
import { ref, onMounted } from '@vue/composition-api'
export default {
    setup() {        
        const name = ref('Is a value of composition Api')

        onMounted(() => {
            console.log("Example Component Mounted")        
        });

        return {
            name
        }
    }
}
</script>

<style scoped>

</style>