<template>
	<div>
		<b-row>
			<b-col md="6">
				<welcome />
			</b-col>
			<b-col md="6">
				<statistics />
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<headlines />
			</b-col>
		</b-row>
	</div>
</template>

<script>
import { BRow, BCol } from 'bootstrap-vue'
import Headlines from './partials/Headlines'
import Statistics from './partials/Statistics'
import Welcome from './partials/Welcome'

export default {
	components: {
		BRow,
		BCol,

		Headlines,
		Statistics,
		Welcome,
	},
}
</script>
