<template>	
  	<div>
		<template v-if="getRoleName === 'superadministrador' || getRoleName === 'administrador'">
			<home-administrator />
		</template>
		<template v-else-if="getRoleName === 'moderador'">
			<home-moderator />
		</template>
  	</div>
</template>

<script>
import { getUserData } from '@/auth/utils'

import HomeAdministrator from './HomeAdministrator'
import HomeModerator from './HomeModerator'

export default {
  	components: {
		HomeAdministrator,
		HomeModerator,
  	},
	data() {
		return {
			userData: null
		}
	},
	computed: {
		getRoleName() {
			return this.userData.name !== undefined ? this.userData.role.toLowerCase() : ''
		}
	},
	created() {
		this.userData = getUserData()
	}
}
</script>

<style scoped>
</style>